@media screen and (max-width: 1049px){
    .view-about-us-block { padding: 3%; }
    .view-about-us-block h2 a { color: white; text-align: center; display: block; margin-bottom: 1%; }
    .view-about-us-block h2 a:hover { color: grey; }
    .view-about-us-block article { color: white; text-align: center;}
}

@media screen and (min-width: 1050px){
    .view-about-us-block { padding: 1em; }
    .view-about-us-block h2 a { color: white; text-align: center; display: block; margin-bottom: 1%; }
    .view-about-us-block h2 a:hover { color: grey; }
    .view-about-us-block article { color: white; text-align: center; max-width: 1500px; margin: auto; padding-left: 5%; padding-right: 5%; }
}

@media screen and (max-width:1199px){
  .path-frontpage .about-us-column-2 {display:none;}
  .path-frontpage .view-about-us{ width:100%; text-align: center;}
  .path-frontpage .view-about-us .view-content{margin-left: 10%; margin-right:-20%;}
}
.view-about-us .view-header{ padding: 3em 0em 3em 0em}
.view-about-us .view-header h2 a{color:#707070; font-size:1.5em; text-decoration: underline;}
.view-about-us .view-header h2 a:hover{color:black;}

.view-about-us .view-content .views-field-title h2 a{color:#707070;}

.path-frontpage .view-about-us .az-section.az-element,
.path-frontpage .view-about-us .az-section.az-element .az-element.az-row,
.path-frontpage .view-about-us .az-section.az-element .az-element.az-row .az-column:nth-child(2),
.path-frontpage .view-about-us .az-section.az-element .az-element.az-row .az-column:nth-child(2) .az-image{
  position: static !important;
}

.path-frontpage .view-about-us .az-section.az-element .az-element.az-row{
	margin:0;
}

.path-frontpage .view-about-us .az-section.az-element .az-element.az-row .az-column:nth-child(2){
  position: absolute !important;
  right:0;
  width:50%;
}

.path-frontpage .view-about-us .az-section.az-element .az-element.az-row .az-column:nth-child(1){
  width:95%;
}

.path-frontpage .view-about-us-block{
	background:#fff;
  width:80%;
  margin-top:2em;
}

.path-frontpage .view-about-us-block .views-row{
  background: #fff;
  width:75%;
}

.path-frontpage .view-about-us-block .views-field-uid a{
  color:#83775b;
}

/* TEAM ATTACHMENT */

.path-frontpage .view-about-us .view-content .views-field .field-content{margin:4em;}

@media screen and (max-width:480px){
  .path-frontpage .view-about-us .view-content .views-col{width:100%!important;}
  }
  
.path-frontpage .view-about-us .view-content .views-field .field-content .img-frame{
  width: 220px;
  height: 220px;
  border: solid #9c8457 2px;  
  margin:auto;
}
.path-frontpage .view-about-us .view-content .views-field .field-content figure img { margin: -0.5em 0em 0em -0.5em; float:none; }
.path-frontpage .view-about-us .view-content .views-field .field-content .team-text figcaption { margin: 0.1em; }
.path-frontpage .view-about-us .view-content .views-field .field-content .team-text figcaption div { color:grey; text-align: center;}
.path-frontpage .view-about-us .view-content .views-field .field-content .team-text figcaption div a { font-size: 1.2em; color:white}




@media screen and (max-width:1199px){
  .path-frontpage .view-team-block{
      margin-top:2em;
  }
}

@media screen and (min-width:1200px) and (max-width:1299px){
  .path-frontpage .view-team-block{
      margin-top:12em;
  }
}

@media screen and (min-width:1300px){
  .path-frontpage .view-team-block{
      margin-top:18em;
  }
}