.path-about-us .view-about-us .view-footer .view-content .views-field .field-content figure {margin:2em 0em 6em 0em;}
.path-about-us .view-about-us .view-footer .view-content .views-field .field-content .img-frame::after {
  content: "";
  clear: both;
  float:none;
  display: table;
   
}
.path-about-us .view-about-us .view-footer .view-content .views-field .field-content .img-frame{
  width: 220px;
  height: 220px;
  border: solid #9c8457 2px;
  float:left;
}
.path-about-us .view-about-us .view-footer .view-content .views-field .field-content figure img {float: left; margin: -0.5em 0em 0em -0.5em}
.path-about-us .view-about-us .view-footer .view-content .views-field .field-content .team-text {margin: 0em 2em 0em 15em;text-align: justify; color: white;}
.path-about-us .view-about-us .view-footer .view-content .views-field .field-content .team-text figcaption { margin: 0.1em; }
.path-about-us .view-about-us .view-footer .view-content .views-field .field-content .team-text figcaption div { color:grey;}
.path-about-us .view-about-us .view-footer .view-content .views-field .field-content .team-text figcaption div a { font-size: 1.4em; color:white}