.view-blog-block { color:#111; background-repeat: no-repeat; background-size: cover; }
.view-blog-block .az-ctnr .container-fluid { max-width:1280px !important; }
.view-blog-block .blog .content { overflow: hidden; height: 36em; }
.view-blog-block article { padding:14px; margin:14px 14px; border: none; border-radius: 15px; /*background:#fff;*/ text-align: center; /*box-shadow: 2px 5px 5px 5px #0173e4;*/ }
.view-blog-block h2 a { color:#111; }
.view-blog-block article img { display:none; }
.view-blog-block article .content::after { display:inline-block; color:#fff;background: #3299fe !important; padding:10px; border-radius: 10px; text-align: center; margin:15px auto; }
.view-blog-block h1 { color: #fff; margin: 20px auto; }
.view-blog-block h2{ font-size: 16px; font-weight: 400; margin-top:3em; }

/*.view-blog-block .views-col .teaser .img-responsive { margin: auto;
: 18em; }*/
/*article.blog.teaser img { display:block !important; }*/
.view-blog-block .views-col .teaser .img-responsive { display:block; float: left !important; margin-right: 1em; margin-top:1em; width: 55%;}
.view-blog-block .views-col .teaser p:first-letter { font-size:2.5em; font-weight:bold; }
.view-blog-block .views-col .teaser p { text-align: justify; }
.blog-section { background-color:#fff !important; background-image: linear-gradient(to bottom, rgba(239,239,239,0), rgba(239,239,239,1),rgba(239,239,239,0)); }
.view-blog-block .view-header a:hover { color: grey; }
.view-blog-block .view-content .views-col .article a:hover { color: grey; }
.view-blog-block .views-col .teaser{height:27em!important;}

.view-blog-block .views-col .teaser h2 a {
  font-size:2em;
  line-height: 4em;
}

@media screen and ( max-width:1199px) {
        .view-blog-block .views-col{ max-width:100% !important; width:100% !important; }
        .view-blog-block .views-col article { height: 33em !important; max-height: 40em !important; overflow-y: hidden; }
}

@media screen and ( min-width:1200px ) {
  .view-blog-block .views-col { width:50% !important; }
  .view-blog-block .views-col article { height: 35em !important; max-height: 40em !important; overflow-y: hidden; }
}

.view-blog-block .views-col:nth-child(even) .teaser .img-responsive{
  float: right !important;
  margin-left: 1em;
  margin-right:0;
}
.view-blog-block .views-col .teaser p:first-line {
    line-height:1em !important;
}
.view-blog-block .views-col .teaser p:first-letter {
    font-family: "Courier New", Courier, monospace;
    font-size: 3.5em;
    float: left;
    margin-top: .10em;
}

@media screen and (max-width: 480px){
  .path-frontpage .view-blog-block .view-content .views-field-uid .field-content a {font-size: 0.8em}
  .path-frontpage .view-blog-block .view-content{
    display: flex;
    height: 55em;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .path-frontpage .view-blog-block .view-content .views-row{
    width: 90em;
    height: 15%;
    margin: 1.5em;
  }
  
  .path-frontpage .view-blog-block .view-content .views-row:first-child{
    margin: 1.5em;
    width: 80em;
    height: 30%;
  }
    .path-frontpage .view-blog-block .views-field-field-image{
    width:50%;
    max-height: 100%;
    float:left;
    margin-right:1em;
    overflow: hidden;
  }
  .path-frontpage .view-blog-block .views-row:first-child .views-field-field-image{
    width:100%;
    max-height: 80%;
    float:none;
    clear: both;
    overflow: hidden;
  }}
  @media screen and (min-width:481px) and (max-width: 768px){
  .path-frontpage .view-blog-block .view-content .views-field-uid .field-content a {font-size: 0.8em}
  .path-frontpage .view-blog-block .view-content{
    display: flex;
    height: 60em;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .path-frontpage .view-blog-block .view-content .views-row{
    width: 90em;
    height: 20%;
    margin: 1.5em;
  }
  
  .path-frontpage .view-blog-block .view-content .views-row:first-child{
    margin: 1.5em;
    width: 80em;
    height: 35%;
  }
    .path-frontpage .view-blog-block .views-field-field-image{
    width:50%;
    max-height: 100%;
    float:left;
    margin-right:1em;
    overflow: hidden;
  }
  .path-frontpage .view-blog-block .views-row:first-child .views-field-field-image{
    width:100%;
    max-height: 80%;
    float:none;
    clear: both;
    overflow: hidden;
  }}
  @media screen and (min-width:769px){
    .path-frontpage .view-blog-block .view-content{
      display: flex;
      height: 32em;
      flex-direction: column;
      flex-wrap: wrap;
    }
    
    .path-frontpage .view-blog-block .view-content .views-row{
      width: 50%;
      height: 50%;
    }
    
    .path-frontpage .view-blog-block .view-content .views-row:first-child{
      width: 50%;
      height: 100%;
    }
    
    .path-frontpage .view-blog-block .views-field-field-image{
      width:50%;
      max-height:100%;
      float:left;
      margin-right:1em;
      overflow:hidden;
      background-position: center; 
    }
    .path-frontpage .view-blog-block .views-row:first-child .views-field-field-image{
      width:100%;
      max-height:80%;
      float:none;
      clear: both;
      overflow:hidden;
    }}

.path-frontpage .view-blog-block .views-field-title,
.path-frontpage .view-blog-block .views-field-body{
  color:#fff;
}

.path-frontpage .view-blog-block .views-field-title a,
.path-frontpage .view-blog-block .views-field-title a:active,
.path-frontpage .view-blog-block .views-field-title a:hover,
.path-frontpage .view-blog-block .views-field-title a:link,
.path-frontpage .view-blog-block .views-field-title a:visited{
  color:#fff;
  font-weight:600;
}

.path-frontpage .view-blog-block .views-row:first-child{
  margin-right:3em;
}

.path-frontpage .view-blog-block .views-field-created{
  position:absolute;
  background: #83775b;
  color:#fff;
  padding-top:.5em;
  padding-bottom:.5em;
  padding-left: 1em;
  padding-right: 2.5em;
  width:3em;
}

.path-frontpage .view-blog-block .views-field-uid a,
.path-frontpage .view-blog-block .views-field-uid a:link,
.path-frontpage .view-blog-block .views-field-uid a:hover,
.path-frontpage .view-blog-block .views-field-uid a:visited,
.path-frontpage .view-blog-block .views-field-uid a:active{
  color: #83775b;
}

.path-frontpage .view-blog-block .views-field-uid a:before{
  content:' - ';
}

.path-frontpage .view-blog-block .view-header a{
  font-size:31px;
  color:#bda67a;
  text-decoration: underline;
} 