.path-frontpage .view-certificates .view-header h2{
  color: #bda67a;
}
.path-front-page .certificates-block .view-header h2 {color:white; text-decoration: underline;margin-top: 2em;}
.path-frontpage .certificates-block .certificates h2 {display:none;}
.path-frontpage .certificates-block .certificates {margin:0em;}
@media screen and (max-width:768px){
  .path-frontpage .certificates-block .views-col{width: 100%!important;}
}
@media screen and (min-width:769px) and (max-width:1200px){
  .path-frontpage .certificates-block .views-col{width: 50%!important;}
}


.path-frontpage .view-certificates .jcarousel-wrapper{
  box-shadow: none;
  width:100%;
  height:15em;
}

.path-frontpage .view-certificates .jcarousel-wrapper li{
  width:20vw !important;
}


.path-frontpage .view-certificates .jcarousel-wrapper .jcarousel-control-next,
.path-frontpage .view-certificates .jcarousel-wrapper .jcarousel-control-prev{
  visibility: visible !important;
  display: block !important;
  opacity: 1;
  box-shadow: none;
  background: none;
  margin-top:2em;
}

.path-frontpage .view-certificates .jcarousel-wrapper .jcarousel-control-next:after,
.path-frontpage .view-certificates .jcarousel-wrapper .jcarousel-control-prev:after{
  position: absolute !important;
  width:2em;
  color:#fff !important;
  opacity:1;
}

.path-frontpage .view-certificates .jcarousel-wrapper .jcarousel-control-next:after{
  right:-2em;
}

.path-frontpage .view-certificates .jcarousel-wrapper .jcarousel-control-prev:after{
  left:-2em;
}

.path-frontpage .hero-attachment .field-content::after{
  color:#000;
}

@media screen and (max-width:360px){
  .path-frontpage .view-certificates figure{
    margin:0 !important;
    height:24em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper li{
    width:66vw !important;
    overflow: hidden;
    height:17.8em;
    position: relative;
    right:5.5vw;
    margin-right:16vw;
    height:24em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper{
    width:70vw;
    height:14em;
  }
}
@media screen and (min-width:361px) and (max-width:480px){
  .path-frontpage .view-certificates figure{
    margin:0 !important;
    height:16em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper li{
    width:66vw !important;
    overflow: hidden;
    height:17.8em;
    position: relative;
    right:5.5vw;
    margin-right:16vw;
    height:16em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper{
    width:70vw;
    height:16em;
  }
}
@media screen and (min-width:481px) and (max-width:640px){
  .path-frontpage .view-certificates figure{
    margin:0 !important;
    height:22em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper li{
    width:63vw !important;
    overflow: hidden;
    height:17.8em;
    position: relative;
    right:5.5vw;
    margin-right:20vw;
    height:22em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper{
    width:70vw;
    height:22em;
    padding-left: 2vw;
  }  
}
@media screen and (min-width:641px) and (max-width:1024px){
  .path-frontpage .view-certificates figure{
    margin:0 !important;
    height:18em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper li{
    width:37vw !important;
    overflow: hidden;
    height:17.8em;
    margin-right:6vw;
    height:18em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper{
    width:80vw;
    height:18em;
    
  }  
}
@media screen and (min-width:1025px) and (max-width:1151px){
  .path-frontpage .view-certificates figure{
    margin:0 !important;
    height:14em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper li{
    width:25vw !important;
    overflow: hidden;
    height:17.8em;
    margin-right:1.75vw;
    height:14em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper{
    width:80vw;
    height:14em;
  }  
}
@media screen and (min-width:1152px) and (max-width:1200px){
  .path-frontpage .view-certificates figure{
    margin:0 !important;
    height:16em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper li{
    width:25vw !important;
    overflow: hidden;
    height:17.8em;
    margin-right:1.75vw;
    height:16em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper{
    width:80vw;
    height:16em;
  }  
}
@media screen and (min-width:1201px) and (max-width:1280px){
  .path-frontpage .view-certificates figure{
    margin:0 !important;
    height:16em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper li{
    width:25vw !important;
    overflow: hidden;
    height:17.8em;
    margin-right:1.75vw;
    height:16em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper{
    width:80vw;
    height:16em;
  }  
}
@media screen and (min-width:1281px) and (max-width:1439px){
  .path-frontpage .view-certificates figure{
    margin:0 !important;
    height:18em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper li{
    width:25vw !important;
    overflow: hidden;
    height:17.8em;
    margin-right:1.75vw;
    height:18em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper{
    width:80vw;
    height:18em;
  }  
}
@media screen and (min-width:1440px) and (max-width:1600px){
  .path-frontpage .view-certificates figure{
    margin:0 !important;
    height:18em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper li{
    width:24vw !important;
    overflow: hidden;
    height:17.8em;
    margin-right:3vw;
    height:18em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper{
    width:80vw;
    height:18em;
    padding-left: 1vw;
  }  
}
@media screen and (min-width:1601px) and (max-width:1720px){
    .path-frontpage .view-certificates figure{
    margin:0 !important;
    height:14em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper li{
    width:17vw !important;
    overflow: hidden;
    height:17.8em;
    margin-right:1vw;
    height:14em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper{
    width:80vw;
    height:14em;
  } 
}
@media screen and (min-width:1721px) and (max-width:1920px){
  .path-frontpage .view-certificates figure{
    margin:0 !important;
    height:14em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper li{
    width:15vw !important;
    overflow: hidden;
    height:17.8em;
    margin-right:1vw;
    height:14em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper{
    width:80vw;
    height:14em;
    padding-left:1.2vw
  }  
}
@media screen and (min-width:1921px){
    .path-frontpage .view-certificates figure{
    margin:0 !important;
    height:14em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper li{
    width:17em !important;
    overflow: hidden;
    height:17.8em;
    margin-right:2em;
    height:14em;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper{
    width:80vw;
    height:14em;
    padding-left: 1.8%;
  }  
}