#sliding-popup { padding:1em; }
#sliding-popup .eu-cookie-compliance-banner .popup-content .decline-button{
  border-radius: 0;
  color:#646464;
  font-weight:normal;
  text-shadow: none;
  background:transparent;
  box-shadow: none;
  border: 0;
}
#sliding-popup .eu-cookie-compliance-banner .popup-content .agree-button:hover,
#sliding-popup .eu-cookie-compliance-banner .popup-content .decline-button:hover{
  text-decoration: underline;
  color:#afafaf;
}

#sliding-popup .eu-cookie-compliance-banner .popup-content h2{ 
  font-size:1.25em;
}
#sliding-popup .eu-cookie-compliance-banner .popup-content p{
  font-size:1em;
  font-weight: normal;    
}

#sliding-popup .eu-cookie-compliance-banner .popup-content .find-more-button{
}
