footer .footer-block .field .az-container .az-section .az-ctnr .az-row  {display:flex; flex-direction:row;flex-wrap:wrap;justify-content:space-between;}
footer .footer-block .field .az-container .az-section .footer-col-1{order:1;flex:1;}
footer .footer-block .field .az-container .az-section .footer-col-2{display:flex;flex-direction:column;order:2;flex:1;justify-content:flex-end;}
footer .footer-block .field .az-container .az-section .footer-col-3{order:3;flex:1;}
@media screen and (min-width:901px){
  footer .footer-block .field .az-container .az-section .footer-col-3{display:flex;align-items: flex-end;flex-direction: column;}
  .footer-container .az-element{ max-height: 400px; }
  .stbe-social-links { margin: 0em 1em 1em!important;}  
}
@media screen and (min-width:601px) and (max-width: 900px){
  .footer-container .az-element{ max-height: 650px; }
  footer .legal-requirements {padding-left:2.5em;}
  .stbe-social-links { margin: 1em 0!important;}
  footer .footer-block .field .az-container .az-section .footer-col-1{order:2;flex-basis:58%;display:flex; flex-direction:column; align-items:center;}
  footer .footer-block .field .az-container .az-section .footer-col-1 .az-element:nth-child(1){order:2;flex:1;}
  footer .footer-block .field .az-container .az-section .footer-col-1 .az-element:nth-child(2){order:1;flex:1;}
  footer .footer-block .field .az-container .az-section .footer-col-2{order:3;flex-basis:100%;display:flex;flex-direction:column;justify-content:flex-end;}
  footer .footer-block .field .az-container .az-section .footer-col-3{order:2;flex:1;flex-basis:42%}
}
@media screen and (max-width: 600px){
  footer .footer-block .field .az-container .az-section .az-ctnr .az-row{flex-direction: column; align-items:center;}
  .footer-container .az-element{ max-height: 650px; }
  footer .legal-requirements {padding-left:2.5em;}
  .stbe-social-links { margin: 1em 0!important;}
  footer .footer-block .field .az-container .az-section .footer-col-1{display:flex; flex-direction:column; align-items:center;order:2;flex:1;}
  footer .footer-block .field .az-container .az-section .footer-col-1 .az-element:nth-child(1){order:2;flex:1;}
  footer .footer-block .field .az-container .az-section .footer-col-1 .az-element:nth-child(2){order:1;flex:1;}
  footer .footer-block .field .az-container .az-section .footer-col-2{order:3;flex:1;}
  footer .footer-block .field .az-container .az-section .footer-col-3{order:1;flex:1;}
}
.menu--menu-stopki a:hover, .menu--footer-menu a:hover { background:transparent !important; color: #cccccc; }
.glazed-footer article h2 { display: none; }
footer .office-hours .field--label {color:#a38b5f;text-decoration: underline;}
.nav li a {padding: 2px 0px 2px 0px !important;}
footer .teaser{margin: 0px!important;}
footer{margin-top:2em;}