#navbar.glazed-header--hover-text .menu a.is-active{ color: #968159; }
.body--glazed-nav-mobile .main-navigation-block { 
    -webkit-box-ordinal-group: 3; 
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3; 
    float: none !important;
}
.body--glazed-nav-mobile .main-navigation-block .menu.navbar-nav { 
    height: auto !important; 
    position: static !important; 
}

.body--glazed-nav-mobile .menu__breadcrumbs a:hover { background: transparent;  }

.body--glazed-nav-mobile .glazed-main-menu.menu--open .menu__breadcrumbs { 
    top: 25em !important;  
    left:-2em !important;  
}
.body--glazed-nav-mobile .main-navigation-block { position: relative; top:1em; }

.body--glazed-nav-desktop .main-navigation-block { 
    -webkit-box-ordinal-group: 1; 
    -moz-box-ordinal-group: 1; 
    box-ordinal-group: 1; 
    float: none; 
    margin-left:6em; 
}

.body--glazed-nav-desktop .main-navigation-block .menu.nav.navbar-nav { height: 80px !important; }
.body--glazed-nav-desktop .main-navigation-block { margin-right:20%; }
.body--glazed-nav-desktop .main-navigation-block .dropdown .dropdown-menu { background: #181818; } 

.body--glazed-nav-mobile .block-system-menu-blockmain ul .active a { color: #fff !important; }
.body--glazed-nav-desktop #navbar { z-index:4050 !important; }
.body--glazed-nav-desktop .block-system-menu-blockmain ul { 
    -webkit-box-shadow: none !important; 
    box-shadow: none !important; 
}
.body--glazed-nav-desktop .block-system-menu-blockmain ul .active a {  }

.body--glazed-nav-desktop .block-system-menu-blockmain ul li ul li ul { 
    display: flex !important; 
    padding: initial; 
}
.body--glazed-nav-desktop .block-system-menu-blockmain ul li ul li ul li ul { display: block !important; }
.body--glazed-nav-desktop .block-system-menu-blockmain ul li ul li  { width:25% !important; }
.body--glazed-nav-desktop #dim-overlay{
	  position: fixed !important;
	  top:-100vh;
	  left:-100vh;
	  width:200vw;
	  height:200vh;
	  opacity:0.5;
	  display: none;
	  background: #000;
	  z-index:500;
	  content:' ';
}

.body--glazed-nav-desktop #navbar .glazed-megamenu__heading, 
.body--glazed-nav-desktop #navbar .glazed-megamenu__heading:hover, 
.body--glazed-nav-desktop #navbar .glazed-megamenu__heading:link, 
.body--glazed-nav-desktop #navbar .glazed-megamenu__heading:visited { 
    color: #0180ef !important; 
    background: #fff !important; 
}

.body--glazed-nav-desktop .block-system-menu-blockmain .menu .mega > .dropdown-menu { 
    margin-top: 55px !important; 
    padding:3em; 
}

#navbar .container .container-row .container-col { height:60px; }
