/* Error: expected "$".
 *    ,
 * 69 | @use "e-prawnik.biz/colors/langColors" with (
 *    |                                              ^
 *    '
 *   ov.scss 69:46  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "$".\a    \2577 \a 69 \2502  @use "e-prawnik.biz/colors/langColors" with (\a    \2502                                               ^\a    \2575 \a   ov.scss 69:46  root stylesheet';
}
