/*----!! development branch !!----*/

/*---------LAYOUT-------------*/
@use "e-prawnik.biz/layout/preambule";
@use "e-prawnik.biz/layout/about";
@use "e-prawnik.biz/layout/aboutPage";
@use "e-prawnik.biz/layout/hero";
@use "e-prawnik.biz/layout/team";
@use "e-prawnik.biz/layout/wedo";
@use "e-prawnik.biz/layout/lang";
@use "e-prawnik.biz/layout/contact";
@use "e-prawnik.biz/layout/main";
@use "e-prawnik.biz/layout/breadcrumbs";
@use "e-prawnik.biz/layout/cookies";
@use "e-prawnik.biz/layout/userPanel";
@use "e-prawnik.biz/layout/footer";
@use "e-prawnik.biz/layout/user";
@use "e-prawnik.biz/layout/trustPage";
@use "e-prawnik.biz/layout/blogArticle";
@use "e-prawnik.biz/layout/menu";
@use "e-prawnik.biz/layout/teamPage";
@use "e-prawnik.biz/layout/opinionsPage";
@use "e-prawnik.biz/layout/certificatesPage";
@use "e-prawnik.biz/layout/companyDetails";
@use "e-prawnik.biz/layout/sitemap";
@use "e-prawnik.biz/layout/contactPage";
@use "e-prawnik.biz/layout/blogPage";
@use "e-prawnik.biz/layout/blog";
@use "e-prawnik.biz/layout/certificates";
@use "e-prawnik.biz/layout/navbar";
@use "e-prawnik.biz/layout/opinions";
@use "e-prawnik.biz/layout/trust";
@use "e-prawnik.biz/layout/admin";
@use "e-prawnik.biz/layout/captcha";
@use "e-prawnik.biz/layout/contextual";
@use "e-prawnik.biz/layout/headers";

/*------------COLORS-----------*/

@use "e-prawnik.biz/colors/aboutColors" with (
	$aboutFBHeadLink: #333,
	$aboutFBHeadLinkHov: grey,
	$aboutFBArticle: #fff,
	$aboutFBBackground: #fff,
	$aboutFBHeaderHeadLink: #707070,
	$aboutFBHeaderHeadLinkHov: #000,
	$aboutFBImgFrame: #9c8457,
	$aboutFBFigCap: grey,
	$aboutFBFigCapLink: #fff
);

@use "e-prawnik.biz/colors/aboutPageColors" with (
	$imgFrameColor: #9c8457,
	$teamTextColor: #fff,
	$teamFigCapLinkColor: #fff,
	$teamFigCapColor: grey
);

@use "e-prawnik.biz/colors/heroColors" with (
	$herop: #7d6a48,
	$heroAttachmentFieldContentAfter: #000,
	$heroAttachmentBack: #000
);
@use "e-prawnik.biz/colors/teamColors" with (
	$teamImgframe: #9c8457,
	$teamFigCapLink: #fff,
	$teamFigCap: grey,
	$teamHeaderLink: #fff,
	$teamHeader: #a78e5e,
	$teamCaruselCtrl: #fff,
	$teamCarouselBackground: none
);
@use "e-prawnik.biz/colors/langColors" with (
	$langDropLink: #797979,
	$langDropButtonBackground: transparent,
	$langDropButton:  #646464,
	$langDropItemBackground: #fff,
	$langDropItemBackgroundHov: #fff,
	$langDropMenuLink: #fff,
	$langDropItemActiveHov: #646464,
	$langDropLangItem: #181818,
	$langDropLangItemHov: #181818,
	$langDropLangItemBack: transparent
);
@use "e-prawnik.biz/colors/contactColors" with (

	$contactTextArea: #fff, 
	$contactTextAreaBack: #403b33,
	$contactTextFieldBorder: #968159,
	$contactTextField: #fff,
	$contactWebformSubmit: #cdcdcd,
	$contactWebformSubmitBack: #333333,
	$contactWebformSubmitBorder: #b19562,
	$contactWebformSubmitHov: #000,
	$contactWebformSubmitBackHov: grey,
	$contactWebformSubmitBorderHov: #b19562,
);
@use "e-prawnik.biz/colors/mainColors" with (
	$mainWrapBack: #21252a,
	$mainFWrapBack: #282828,
	$mainBodyBack: #282828,
	$mainFBodyBack: #21252a,
	$mainRegionTabsBack: #fff,
	$mainTitleLink: #fff,
	$mainTitleLinkHov: grey,
	$mainNodePageTitleHeader: #fff,
	$mainBlogPageTitleHeader: #fff,
	$mainViewsGridLink: #000,
	$mainViewsGridLinkHov: grey
);
@use "e-prawnik.biz/colors/breadcrumbsColors" with (
	$breadLink: #000,
	$breadLinkHov: grey,
	$breadBackground: transparent
);
@use "e-prawnik.biz/colors/cookiesColors" with (
	$cookiesPopupBack: transparent,
	$cookiesPopup: #646464,
	$cookiesAgreeDeclineHov: #afafaf,
	$cookiesPopupHeader: #afafaf,
	$cookiesFindMore: #afafaf
);
@use "e-prawnik.biz/colors/userPanelColors" with (
	$userRegionTabsLink: #333333,
	$userRegionTabsLinkBorBottom: rgba(0,0,0,0.12),
	$userRegionTabsLinkBorLeft: rgba(0,0,0,0.08),
	$userRegionTabsLinkBorBottomHov: rgba(0,0,0,0.4),
	$userRegionTabsLinkBorLeftHov: rgba(0,0,0,0.3),
	$userRegionTabsLinkBorBottomFoc: rgba(0,0,0,0.12),
	$userRegionTabsLinkBorLeftFoc: rgba(0,0,0,0.08),
	$userRegiontabsPrimaryLink: #fff,
	$userRegionTabsSecondLink: #fff,
	$userRegionButtonBack: #333333,
	$userRegionButtonBackHov: #9f885d,
	$userRegionTabsBack: transparent,
	$userRegionTabsListBack: #9f885d
);
@use "e-prawnik.biz/colors/footerColors" with (
	$footerMenuLink: #cccccc,
	$footerOfficeHours: #a38b5f,
);
@use "e-prawnik.biz/colors/userColors" with (
	$userAccountLink: #646464
);
@use "e-prawnik.biz/colors/blogArticleColors" with (
	$blogArticleAuthor: #a38b5f
);
@use "e-prawnik.biz/colors/menuColors" with (
	$navbarMenuActiveLink: #968159,
	$navMobileBreadBack: transparent,
	$navDesktopMenuBack: #181818,
	$navDesktopDropdown: #fff,
	$navDimOverlayBack: #000,
	$navDimOverlayOpacity: 0.5,
	$navDesktopMegaHeader: #fff,
	$navDesktopMegaHeaderBack: transparent,
	$navDesktopExpandedLinkBackHov: #181818,
	$navDesktopMenuLinkBackHov: #181818,
	$navDesktopMenuDropdownBackHov: transparent
);
@use "e-prawnik.biz/colors/companyDetailsColors" with (
	$companyBodyDiv: #ccac6e,
	$companyBodyPSec: #ccac6e,
	$companyBodyPTrd: #ccac6e,
	$companyLink: #646464
);
@use "e-prawnik.biz/colors/sitemapColors" with (
	$sitemapHeader: #fff,
	$sitemapLink: #fff,
	$sitemapLinkHov: #fff,
	$sitemapLinkBgHov: transparent,
	$sitemapBg: transparent,
	$sitemapExpandBg: transparent
);
@use "e-prawnik.biz/colors/blogPageColors" with (
	$blogPageRowArticleLink: #000,
	$blogPageRowArticleLinkHov: grey,
	$blogPageView: #111,
	$blogPageViewHeaderLink: #111,
	$blogPageViewArticleAfter: #fff,
	$blogPageViewArticleAfterBack: #3299fe,
	$blogPageViewHeader: #fff,
	$blogPageSection: #fff,
	$blogPageViewArticleLink: grey,
	$blogPageViewFieldBody: #fff,
	$blogPageViewFieldTitleLink: #fff,
	$blogPageViewFieldCreate: #fff,
	$blogPageViewFieldCreateBack: #83775b,
	$blogPageViewFieldUidLink: #83775b,
	$blogPageReadMoreLink: #aa9161,
	$blogPageReadMoreLinkHov: #706045,
	$blogPageTitleHeader: #bda67a
);
@use "e-prawnik.biz/colors/blogColors" with (
	$blogViewBlock: #111, 
	$blogViewBlockHeaderLink: #111,
	$blogViewBlockArticleContentAfter: #fff,
	$blogViewBlockArticleContentAfterBack: #3299fe,
	$blogViewBlockHeader: #fff,
	$blogSection: #fff,
	$blogViewHeaderLinkHov: grey,
	$blogViewContentArticleLinkHov: grey,
	$blogViewBlockFieldBody: #fff,
	$blogViewBlockFieldTitleLink: #fff,
	$blogViewBlockFieldCreated: #fff,
	$blogViewBlockFieldCreatedBack: #83775b,
	$blogViewBlockFieldUidLink: #83775b,
	$blogViewBlockViewHeaderLink: #bda67a
);
@use "e-prawnik.biz/colors/certificatesColors" with (	
	$certCarouselCtrlBack: none,
	$certCarouselCtrlAfter: #fff
);
@use "e-prawnik.biz/colors/navbarColors" with (
	$navbarGlazedWrapBrandLinkHov: transparent,
	$navMobileGlazedMainMenuDropdownLink: #646464,
	$navMobileMenuToggleBack: transparent,
	$navMobileMenuToggleSpanBack: #ffffff,
	$navMobileMenuListHovBack: #fff,
	$navDesktopNavbarLink: #e4e4e4,
	$navDesktopNavbarLinkHov: #646464,
	$navDesktopNavbarLinkHovBack: #181818,
	$navDesktopNavbarDropdownMenuLink: #afafaf,
	$navDesktopNavbarWrapBranding: transparent,
	$navDesktopNavbarDropdownMenuLinkNode: #646464,
	$navDesktopNavbarLinkMobile: #9f9f9f,
	$navDesktopBack: rgba(40,40,40,1),
	$navDesktopBackAffix: rgba(40,40,40,1),
	$navBorderBottom: 1px groove #edc780
);
@use "e-prawnik.biz/colors/opinionsColors" with (
	$opinionsBlockOpinionsBorder: #b89c68,
	$opinionsBlockOpinionsBack: #403b33,
	$opinionsBlockCarouselCtrlBack: transparent
);
@use "e-prawnik.biz/colors/trustColors" with (
	$trustCarouselCtrl: #fff
);
@use "e-prawnik.biz/colors/adminColors" with (
	$adminFormGroupEnabledVOPButton: #000,
	$adminFormGroupDisabledVOPButton: #000,
	$adminInlineActionsLink: #fff,
	$adminFormGroupLink: #edc780,
	$adminViewsListingTROddBack: #fff,
	$adminViewsListingTREvenBack: #ccc,
	$adminViewsListingCaret: #000,
	$adminViewTableButton: #000,
	$adminViewTableButtonCaret: #000,
	$adminViewContentTROddBack: #fff,
	$adminViewContentTREvenBack: #ccc,
	$adminTableButton: #000,
	$adminTableTROddBack: #fff,
	$adminTableTREvenBack: #ccc,
	$adminHtmlBack: none,
	$adminEditDisplays: #fff,
	$adminEditDisplaysBack: #fff,
	$adminEditDisplaysLabel: #000,
	$adminBackgroundColor: #fff,
	$adminRegionTabsLink: #cccccc,
	$adminRegionTabsLinkBorBottom: rgba(0,0,0,0.12),
	$adminRegionTabsLinkBorLeft: rgba(0,0,0,0.08),
	$adminRegionTabsLinkBorBottomHov: rgba(0,0,0,0.4),
	$adminRegionTabsLinkBorLeftHov: rgba(0,0,0,0.3),
	$adminRegionTabsLinkBorBottomFoc: rgba(0,0,0,0.12),
	$adminRegionTabsLinkBorLeftFoc: rgba(0,0,0,0.08),
	$adminRegiontabsPrimaryLink: #000,
	$adminRegionTabsSecondLink: #000,
	$adminRegionButtonBack: #cccccc,
	$adminRegionButtonBackHov: #999999,
	$adminRegionTabsBack: transparent,
	$adminRegionTabsListBack: #999999,
	$adminViewsDialogBack: #f3f4ee
);
@use "e-prawnik.biz/colors/captchaColors" with (
	$captchaBack: transparent
);
@use "e-prawnik.biz/colors/headersColors" with (
	$contactBlock: #fff,
	$contactBorder: #9d865c,
	$contactHeaderLink: #fff,
	$contactHeaderLinkHov: grey,
	$certBlockViewHeaderBorder: #9d865c,
	$certBlockViewHeaderHeaderLink: #fff,
	$certBlockViewHeaderHeaderLinkHov: grey,
	$opinionsBlockViewHeader: #fff,
	$opinionsBlockViewHeaderBorder: #9d865c,
	$opinionsBlockViewHeaderHeadLink: #fff,
	$opinionsBlockViewHeaderHeadLinkHov: grey,
	$trustBlockViewHeader: #fff,
	$trustBlockViewHeaderBorder: #9d865c,
	$trustBlockViewHeaderHeadLink: #fff,
	$trustBlockViewHeaderHeadLinkHov: grey,
);