.path-admin .form-group .enabled .views-ui-view-operations .btn-group.dropdown .button {
   padding-right:10px; 
   color:#000;
}

.path-admin .form-group .disabled .views-ui-view-operations .btn-group.dropdown .button {
   padding-right:5px;
   color:#000;
}

.path-admin .list-inline.local-actions a{
   color:#fff;
}

.path-admin .form-group .views-ui-view-displays a{
  color:#edc780;  
}

.path-admin .views-listing-table tr:nth-child(2n+1){
  background: #fff;
}

.path-admin .views-listing-table tr:nth-child(2n+2){
  background:#ccc;
}

.path-admin .views-listing-table{
  width:100%;
}

.path-admin .views-listing-table .btn .caret{
  color:#000;
}
