/*----------------------PAGE-------------------------*/

.page-node-type-blog .main-container .content .img-responsive { 
    float: left;
    padding:0em 1em 1em 0em;
}
.page-node-type-blog .main-container .content .field--name-field-second-level-title {
    text-align: center; 
    font-size: 1.4em; 
    padding: 0.5em;
} 
.page-node-type-blog .main-container .content .field--name-body{
  margin-bottom:2em;  
}
.page-node-type-blog .main-container .submitted {
  text-align: right;
}
.page-node-type-blog .main-container .submitted .author span {
  color:#a38b5f;
}