$breadLink: #000 !default;
$breadLinkHov: grey !default;

.breadcrumb a {
    color: $breadLink; 
    text-decoration: none;
}
.breadcrumb a:hover{ color: $breadLinkHov; }
.breadcrumb .glazed-breadcrumb-spacer{ display: none; }
.body--glazed-nav-mobile .menu__breadcrumbs{
  font-size:0.85em;
} 
