$breadLink: #000 !default;
$breadLinkHov: grey !default;
$breadBackground: transparent !default;

.breadcrumb { background-color: $breadBackground; }
.breadcrumb a { color: $breadLink; }
.breadcrumb a:hover{ color: $breadLinkHov; }

.breadcrumb a { 
    text-decoration: none;
}

.breadcrumb .glazed-breadcrumb-spacer{ display: none; }
.body--glazed-nav-mobile .menu__breadcrumbs{
  font-size:0.85em;
} 
