.contact-page-view .company-details-view .legal-requirements h2:nth-child(1){margin: 2em 0em 0.3em 0em;}
.contact-page-view .view-contact-block article {margin-left: 1em;}
.contact-page-view .az-map {margin-bottom:2em;}
.contact-page-view .view-contact-block {margin-top:2em;}

@media screen and (max-width:992px){
  .contact-page-view .company-details-view {float:left;}
  .contact-page-view .office-hours-view h2 {margin-top:2em;}
}
@media screen and (max-width:600px){
  .contact-page-view .company-details-view {float:none;}
  .contact-page-view .office-hours-view h2 {margin-top:0em;}
}