$herop: #7d6a48 !default;
$heroAttachmentFieldContentAfter: #000 !default;
$heroAttachmentBack: #000 !default;

.hero-attachment{ 
    background: $heroAttachmentBack;
}

.path-frontpage .hero-attachment .field-content::after{
    color: $heroAttachmentFieldContentAfter;
}

.hero-attachment p:nth-child(even) {
    border-color: $herop;
}

/* layout */

@media screen and (max-width:768px){
	.hero-column-1{ width:100%; }
}	

.hero-block .content{ margin:5em 0em 5em 0em; }
.hero-block h2 a span{ display: none; }

.hero-attachment{ 
    height:11em;
}

.hero-attachment p{
  float: left;
  width: 33%;
  margin-top: 3em;
  margin-bottom: 3em; 
  text-align: center;
  height: 5em;
  overflow: auto;
  padding-top: 2em;
}

.hero-attachment .field-content:after{
  content:'.';
  white-space: pre;
  clear: both;
  float: none;
}

.hero-attachment .field-content{ 
  width:70%; 
  margin: auto; 
}

.hero-attachment p:nth-child(even) { 
  border: groove; 
  border-top:0; 
  border-bottom:0; 
}

.hero-attachment p:first-child{
  padding-top:1em;
}

.path-frontpage #block-glazedmain .glazed:first-child,
.path-frontpage #block-glazedmain .glazed:first-child > .az-section:first-child > .az-ctnr:first-child,
.path-frontpage #block-glazedmain .glazed:first-child > .az-section:first-child > .az-ctnr:first-child > .az-section:first-child,
.path-frontpage #block-glazedmain .glazed:first-child > .az-section:first-child > .az-ctnr:first-child > .az-section:first-child > .az-ctnr.container:first-child,
.path-frontpage #block-glazedmain .glazed:first-child > .az-section:first-child > .az-ctnr:first-child > .az-section:first-child > .az-ctnr.container:first-child > .az-cms-element:first-child{
  position: static !important;
}

.path-frontpage .hero-block .view-footer{
  position: absolute;
  left: 0;
  width: 100vw;
}
