$mainWrapBack: #21252a !default;
$mainFWrapBack: #282828 !default;
$mainBodyBack: #282828 !default;
$mainFBodyBack: #21252a !default;
$mainRegionTabsBack: #fff !default; 
$mainTitleLink: #fff !default;
$mainTitleLinkHov: grey !default;

.wrap-containers { background-color: $mainWrapBack; }
.path-frontpage .wrap-containers { background-color: $mainFWrapBack; }
body {background-color: $mainBodyBack !important; }
.path-frontpage body { background-color: $mainFBodyBack !important; }

html.js .body--glazed-nav-desktop.toolbar-fixed.toolbar-horizontal .glazed-header--top.glazed-header--overlay{ 
    top:37px !important; 
}

html.js .body--glazed-nav-desktop.toolbar-fixed.toolbar-horizontal.toolbar-tray-open.toolbar-horizontal .glazed-header--top.glazed-header--overlay { 
    top:80px !important; 
}

html.js .body--glazed-nav-desktop.toolbar-fixed.toolbar-horizontal .region.region-content { 
    position: relative; 
    top:-24px; 
}

.toolbar-horizontal .dialog-off-canvas-main-canvas .wrap-containers .js-quickedit-main-content{ margin-top: 100px; }

.region.region-content .tabs[aria-label=Tabs] { background: $mainRegionTabsBack; }

.content-bottom-container { 
    width: 100% !important; 
    padding: 0 !important; 
    margin: 0 !important; 
    max-width: initial !important; 
}

.body--glazed-nav-desktop .glazed-header--top.glazed-header--overlay { top: 0px; }
.main-background-image{
    background-position: left center; 
    height:100%!important;
}

.glazed-main-block .field .az-section:nth-child(1) { padding-top:0; }

@media screen and (min-width: 769px){
    [role=main].main-container { 
        max-width: 1500px; 
        margin: auto; 
        padding-left: 6em; 
        padding-right: 6em; 
    }
    .page-node-type-drag-and-drop-page [role=main].main-container { 
        max-width: 1500px; 
        margin: auto; 
        padding-left: 0em !important; 
        padding-right: 0em!important; 
    }
    body.path-frontpage [role=main].main-container { 
        max-width: initial !important; 
        margin: initial !important;  
        padding-left: initial !important; 
        padding-right: initial !important; 
    }
    
    body.path-frontpage [role=main].main-container p:first-letter { margin-left: initial !important; }
}

@media screen and (max-width: 768px){
    [role=main].main-container { 
        max-width: 1500px; 
        margin: auto;  
        padding-left: 2em; 
        padding-right: 2em; 
    }
    
    body.path-frontpage [role=main].main-container { 
        max-width: initial !important; 
        margin: initial !important;  
        padding-left: initial !important; 
        padding-right: initial !important; 
    }

    /*[role=main].main-container p:first-letter { margin-left: 2em; }*/
    body.path-frontpage [role=main].main-container p:first-letter { margin-left: initial !important; }
}

/*-------------------------------TITLES----------------------------*/

h2 a span{ 
    color: $mainTitleLink;
    text-decoration: underline;
}

h2 a span:hover{ color: $mainTitleLinkHov; }
.az-button{ display: inline-block; }

/*---------------------------TITLE--------------------------------*/

.title-page-title { margin:1em 5% 1em 5%; }
.path-node .title-page-title{ margin-top:6em; }
.path-node .title-page-title h2{ color: white; }
.path-blog .title-page-title{ margin-top:6em; }
.path-blog .title-page-title h2{ color: white; }

/*-------------------DRAG-AND-DROP-PAGE---------------------------*/
.drag-and-drop-page  .carousel-reduced {
    width: 80%;
    margin: auto;
}

/*--------------------------GRID----------------------------------*/
.views-view-grid h2 {
    text-align: center; 
    margin:1em;
}
.views-view-grid a { 
    text-decoration: none; 
    color: black;
}
.views-view-grid a:hover { color: grey; }
.views-view-grid .img-responsive {
    margin: auto; 
    margin-bottom:1em;
}
.views-view-grid .offer .content {
    display: block;
    text-align: justify; 
    margin: 1em;
}

@media screen and (max-width:1215px){
	.drag-and-drop-page .views-view-grid .views-col { width:100%!important; }
}

body.path-frontpage .wrap-containers .region.region-content article.drag-and-drop-page { display: none; }

article .view-header,
article .view-content{
  margin-bottom:4em;
}

/*-------------------SLIDE-TO-------------------------*/
#slide-to-blog{height:2em;}
#slide-to-about-us{height:2em;}
#slide-to-what-we-do{height: 4em;}
#slide-to-opinions{height:0em;}
#slide-to-certificate{height: 3em;}
#slide-to-trust{height: 1em;}
#slide-to-contact{height: 3em;}
