.page-node-type-team .field--name-field-icon img {float:left;margin-right:1em;}
.page-node-type-team .field--name-field-second-level-title {display:none;}

@media screen and (max-width:480px){
  .path-about-us .view-about-us .view-footer .view-content .views-field .field-content .team-text figcaption{text-align: center;}
  .page-node-type-team .field--name-field-icon img {float:none; margin:auto;}
  .path-about-us .view-about-us .view-footer .view-content .views-field .field-content .team-text {margin: 0em;}
}