$certificatesBeforeBack: #fff !default;
$certificatesAfterBack: #fff !default;
$certificatesBack: #dd0c39 !default;
$certificatesCertBack: #fff !default;

.certificates-section{
  background: $certificatesBack;
}
.body--glazed-nav-desktop .certificates-section:before{
  background: $certificatesBeforeBack;
}
.body--glazed-nav-desktop .certificates-section:after{
  background: $certificatesAfterBack;
}
.certificates-section article{
  background: $certificatesCertBack;
}
