$menuMobileBack: #fff !default;
$menuMobileAcccountBackHov: transparent !default;
$menuMobileLangActiveBefore: #9f9f9f !default;
$menuMobileLangActive: #dd0c39 !default; 
$menuMobileLevelBack: #fff !default;
$navDesktopLevel0Link: #fff !default;
$navDesktopLevel0LinkHov: red !default;

.body--glazed-nav-mobile #glazed-main-menu .region-navigation-collapsible .menu,
.body--glazed-nav-mobile #glazed-main-menu .region-navigation-collapsible { 
  background: $menuMobileBack; 
}
.body--glazed-nav-mobile .menu--account li:hover{
  background: $menuMobileAcccountBackHov !important;
}
.body--glazed-nav-mobile .block-dropdown-language .active-language:before{
  color: $menuMobileLangActiveBefore;
}
.body--glazed-nav-mobile .block-dropdown-language .active-language {
  color: $menuMobileLangActive !important;
}

.body--glazed-nav-mobile .menu__level{
	background: $menuMobileLevelBack;
}

.body--glazed-nav-desktop .menu-level-0 > li > a > span:after,
.body--glazed-nav-desktop .glazed-header--top .nav > li > a > span:after,
.body--glazed-nav-desktop .block-dropdown-language .btn:after{ color:$navDesktopLevel0Link; }
.body--glazed-nav-desktop .menu-level-0 > li:hover > a > span:after,
.body--glazed-nav-desktop .glazed-header--top .nav > li:hover > a > span:after,
.body--glazed-nav-desktop .block-dropdown-language .btn:hover:after{ color:$navDesktopLevel0LinkHov; }
