$adminFormGroupEnabledVOPButton: #000 !default;
$adminFormGroupDisabledVOPButton: #000 !default;
$adminInlineActionsLink: #fff !default;
$adminFormGroupLink: #edc780 !default;
$adminViewsListingTROddBack: #fff !default;
$adminViewsListingTREvenBack: #ccc !default;
$adminViewsListingCaret: #000 !default;
$adminViewTableButton: #000 !default;
$adminViewTableButtonCaret: #000 !default;
$adminViewContentTROddBack: #fff !default;
$adminViewContentTREvenBack: #ccc !default;
$adminTableButton: #000 !default;
$adminTableTROddBack: #fff !default;
$adminTableTREvenBack: #ccc !default;
$adminHtmlBack: none !default;
$adminEditDisplays: #fff !default;
$adminEditDisplaysBack: #000 !default;
$adminEditDisplaysLabel: #000 !default;

.path-admin .form-group .enabled .views-ui-view-operations .btn-group.dropdown .button {
    color: $adminFormGroupEnabledVOPButton;
}

.path-admin .form-group .disabled .views-ui-view-operations .btn-group.dropdown .button {
    color: $adminFormGroupDisabledVOPButton;
}

.path-admin .list-inline.local-actions a{
    color: $adminInlineActionsLink;
}

.path-admin .form-group .views-ui-view-displays a{
    color: $adminFormGroupLink;  
}

.path-admin .views-listing-table tr:nth-child(2n+1){
    background: $adminViewsListingTROddBack;
}

.path-admin .views-listing-table tr:nth-child(2n+2){
    background: $adminViewsListingTREvenBack;
}

.path-admin .views-listing-table .btn .caret{
    color: $adminViewsListingCaret;
}

.path-admin #block-admin-display-form .button,
.path-admin .view-id-content .table .button {
    color: $adminViewTableButton;
}

.path-admin #block-admin-display-form .btn,
.path-admin .view-id-content .table .btn .caret{
    color: $adminViewTableButtonCaret;
}

.path-admin .view-id-files tr:nth-child(2n+1),
.path-admin #block-admin-display-form tr:nth-child(2n+1),
.path-admin .view-id-content tr:nth-child(2n+1){
    background: $adminViewContentTROddBack;
}

.path-admin .view-id-files tr:nth-child(2n+2),
.path-admin #block-admin-display-form tr:nth-child(2n+2),
.path-admin .view-id-content tr:nth-child(2n+2){
    background: $adminViewContentTREvenBack;
}

.path-admin table tr:nth-child(2n+1){
    background: $adminTableTROddBack;
}

.path-admin table tr:nth-child(2n+2){
    background: $adminTableTREvenBack;
}

.path-admin table tr .btn-group .caret,
.path-admin table tr .btn-group .button{
    color: $adminTableButton;
}

/*dumb revolution sliders fix*/
html{
    background: $adminHtmlBack !important;
}

/**/
.path-admin #edit-displays{
    background: $adminEditDisplaysBack;
    color: $adminEditDisplays;
}

.path-admin #edit-displays .label{
    color: $adminEditDisplaysLabel;
}