$blogViewBlock: #111 !default; 
$blogViewBlockHeaderLink: #111 !default;
$blogViewBlockArticleContentAfter: #fff !default;
$blogViewBlockArticleContentAfterBack: #3299fe !default;
$blogViewBlockHeader: #fff !default;
$blogSection: #fff !default;
$blogViewHeaderLinkHov: grey !default;
$blogViewContentArticleLinkHov: grey !default;
$blogViewBlockFieldBody: #fff !default;
$blogViewBlockFieldTitleLink: #fff !default;
$blogViewBlockFieldCreated: #fff !default;
$blogViewBlockFieldCreatedBack: #83775b !default;
$blogViewBlockFieldUidLink: #83775b !default;
$blogViewBlockViewHeaderLink: #bda67a !default;

.view-blog-block { 
    color: $blogViewBlock;
}

.view-blog-block h2 a { 
    color: $blogViewBlockHeaderLink; 
}

.view-blog-block article .content::after { 
    color: $blogViewBlockArticleContentAfter;
    background: $blogViewBlockArticleContentAfterBack !important; 
}

.view-blog-block h1 { 
    color: $blogViewBlockHeader;
}

.blog-section { 
    background-color: $blogSection !important;
}

.view-blog-block .view-header a:hover { 
    color: $blogViewHeaderLinkHov; 
}
.view-blog-block .view-content .views-col .article a:hover { 
    color: $blogViewContentArticleLinkHov; 
}

.path-frontpage .view-blog-block .views-field-title,
.path-frontpage .view-blog-block .views-field-body{
    color: $blogViewBlockFieldBody;
}

.path-frontpage .view-blog-block .views-field-title a,
.path-frontpage .view-blog-block .views-field-title a:active,
.path-frontpage .view-blog-block .views-field-title a:hover,
.path-frontpage .view-blog-block .views-field-title a:link,
.path-frontpage .view-blog-block .views-field-title a:visited{
    color: $blogViewBlockFieldTitleLink;
}

.path-frontpage .view-blog-block .views-field-created{
    background: $blogViewBlockFieldCreatedBack;
    color: $blogViewBlockFieldCreated;
}

.path-frontpage .view-blog-block .views-field-uid a,
.path-frontpage .view-blog-block .views-field-uid a:link,
.path-frontpage .view-blog-block .views-field-uid a:hover,
.path-frontpage .view-blog-block .views-field-uid a:visited,
.path-frontpage .view-blog-block .views-field-uid a:active{
    color: $blogViewBlockFieldUidLink;
}

.path-frontpage .view-blog-block .view-header a{
    color: $blogViewBlockViewHeaderLink;
}