$breadLink: #a38b5f !default;
$breadLinkHov: grey !default;
$breadBackground: transparent !default;

.breadcrumb { background-color: $breadBackground; }
.breadcrumb a { color: $breadLink; }
.breadcrumb a:hover{ color: $breadLinkHov; }