$certCarouselCtrlBack: none !default;
$certCarouselCtrlAfter: #fff !default;

.path-frontpage .view-certificates .jcarousel-wrapper .jcarousel-control-next,
.path-frontpage .view-certificates .jcarousel-wrapper .jcarousel-control-prev{
    background: $certCarouselCtrlBack;
}

.path-frontpage .view-certificates .jcarousel-wrapper .jcarousel-control-next:after,
.path-frontpage .view-certificates .jcarousel-wrapper .jcarousel-control-prev:after{
    color: $certCarouselCtrlAfter !important;
}