$contactBorder: #9d865c !default;
$contactHeaderLink: #fff !default;
$contactHeaderLinkHov: grey !default;
$contactTextArea: #fff !default; 
$contactTextAreaBack: #403b33 !default;
$contactTextFieldBorder: #968159 !default;
$contactTextField: #fff !default;
$contactWebformSubmit: #cdcdcd !default;
$contactWebformSubmitBack: #333333 !default;
$contactWebformSubmitBorder: #b19562 !default;
$contactWebformSubmitHov: #000 !default;
$contactWebformSubmitBackHov: grey !default;
$contactWebformSubmitBorderHov: #b19562 !default;
$contactBlock: #fff !default;

.view-contact-block .header-attachment { 
    color: $contactBlock;
}
.view-contact-block .header-attachment:after { 
    border-color: $contactBorder;
}
.view-contact-block .view-header h2 a{ color: $contactHeaderLink; }

.view-contact-block .view-header h2 a:hover{ color: $contactHeaderLinkHov; }

.view-contact-block .webform-element-text-area{
    background-color: $contactTextAreaBack;
    color: $contactTextArea !important;
}

.view-contact-block .webform-element-text-field{
    color: $contactTextField !important;
}

.view-contact-block .webform-wrapper-text-field{
    border-bottom: $contactTextFieldBorder;
}

.view-contact-block .webform-submit-button{
    color: $contactWebformSubmit;
    border-color:$contactWebformSubmitBorder;
    background-color: $contactWebformSubmitBack;
}

.view-contact-block .webform-submit-button:hover{
    background-color: $contactWebformSubmitBackHov;
    border-color: $contactWebformSubmitBorderHov;
    color: $contactWebformSubmitHov;
}

.view-contact-block .webform-element-text-field{
    color: $contactTextField !important;
}
