$mainWrapBack: #21252a !default;
$mainGlazedBack: #181818 !default;
$mainFWrapBack: #282828 !default;
$mainBodyBack: #282828 !default;
$mainFBodyBack: #21252a !default;
$mainRegionTabsBack: #fff !default; 
$mainTitleLink: #fff !default;
$mainTitleLinkHov: grey !default;
$mainNodePageTitleHeader: #fff !default;
$mainBlogPageTitleHeader: #fff !default;
$mainViewsGridLink: #000 !default;
$mainViewsGridLinkHov: grey !default;
$titlePageTitle: grey !default;
$contentListInlineAHov: #000 !default;
$inputFocusBorder: 1px solid #d0d0d0 !default;

#block-glazedmain { background-color: $mainGlazedBack; }   
.wrap-containers { background-color: $mainWrapBack; }
.path-frontpage .wrap-containers { background-color: $mainFWrapBack; }
body {background-color: $mainBodyBack !important; }
.path-frontpage body { background-color: $mainFBodyBack !important; }
.views-view-grid a:hover { color: $mainViewsGridLinkHov; }
.region.region-content .tabs[aria-label=Tabs] { background: $mainRegionTabsBack; }
.path-node .title-page-title h2{ color: $mainNodePageTitleHeader; }
.path-blog .title-page-title h2{ color: $mainBlogPageTitleHeader; }
h2 a span:hover{ color: $mainTitleLinkHov; }
h2 a span{ color: $mainTitleLink; }

.views-view-grid a {
    color: $mainViewsGridLink;
}
.title-page-title h2 {color:$titlePageTitle;}

.content .list-inline a:hover{color: $contentListInlineAHov;}

.html .form-control:focus, .html input[type="date"]:focus, .html input[type="datetime-local"]:focus, .html input[type="email"]:focus, .html input[type="file"]:focus, .html input[type="month"]:focus, .html input[type="number"]:focus, .html input[type="password"]:focus, .html input[type="search"]:focus, .html input[type="tel"]:focus, .html input[type="text"]:focus, .html input[type="time"]:focus, .html input[type="url"]:focus, .html input[type="week"]:focus, .html textarea:focus, .html select:focus{
    border: $inputFocusBorder;
  }