$navbarMenuActiveLink: #968159 !default;
$navMobileBreadBack: transparent !default;
$navDesktopMenuBack: #181818 !default;
$navDesktopDropdown: #fff !default;
$navDimOverlayBack: #000 !default;
$navDimOverlayOpacity: 0.5 !default;
$navDesktopMegaHeader: #0180ef !default;
$navDesktopMegaHeaderBack: transparent !default;
$navDesktopExpandedLinkBackHov: #181818 !default;
$navDesktopMenuLinkBackHov: #181818 !default;
$navDesktopMenuDropdownBackHov: transparent !default;

#navbar.glazed-header--hover-text .menu a.is-active{ color: $navbarMenuActiveLink; }
.body--glazed-nav-mobile .menu__breadcrumbs a:hover { background: $navMobileBreadBack;  }
.body--glazed-nav-desktop .main-navigation-block .dropdown .dropdown-menu { background: $navDesktopMenuBack; }
.body--glazed-nav-mobile .block-system-menu-blockmain ul .active a { color: $navDesktopDropdown !important; }
.body--glazed-nav-desktop #dim-overlay{
    opacity: $navDimOverlayOpacity;
    background: $navDimOverlayBack;
}

.body--glazed-nav-desktop #navbar .glazed-megamenu__heading, 
.body--glazed-nav-desktop #navbar .glazed-megamenu__heading:hover, 
.body--glazed-nav-desktop #navbar .glazed-megamenu__heading:link, 
.body--glazed-nav-desktop #navbar .glazed-megamenu__heading:visited { 
    color: $navDesktopMegaHeader !important; 
    background: $navDesktopMegaHeaderBack !important; 
}

.body--glazed-nav-desktop .expanded.dropdown:hover > a {
    background: $navDesktopExpandedLinkBackHov !important;  
}

.body--glazed-nav-desktop .block-system-menu-blockmain .menu a:focus,
.body--glazed-nav-desktop .block-system-menu-blockmain .menu a:hover{ 
    background: $navDesktopMenuLinkBackHov !important;
}
/*
.body--glazed-nav-desktop .block-system-menu-blockmain .menu > .dropdown-menu a,
.body--glazed-nav-desktop .block-system-menu-blockmain .menu > .dropdown-menu a:focus,
.body--glazed-nav-desktop .block-system-menu-blockmain .menu > .dropdown-menu a:hover{
    background: $navDesktopMenuDropdownBackHov !important;
}*/