$navbarGlazedWrapBrandLinkHov: transparent !default;
$navMobileGlazedMainMenuDropdownLink: #646464 !default;
$navMobileMenuToggleBack: transparent !default;
$navMobileMenuToggleSpanBack: #ffffff !default;
$navMobileMenuListHovBack: #fff !default;
$navDesktopNavbarLink: #e4e4e4 !default;
$navDesktopNavbarLinkHovNoChild: none !default;
$navDesktopNavbarLinkHovBackNoChild: none !default;
$navDesktopNavbarLinkHovBorderNoChild: 1px solid black !default;
$navDesktopNavbarLinkHov: #646464 !default;
$navDesktopNavbarLinkHovBack: #181818 !default;
$navDesktopNavbarDropdownMenuLink: #afafaf !default;
$navDesktopNavbarWrapBranding: transparent !default;
$navDesktopNavbarDropdownMenuLinkNode: #646464 !default;
$navDesktopNavbarLinkMobile: #9f9f9f !default;
$navDesktopBack: rgba(40,40,40,1) !default;
$navDesktopBackAffix: rgba(40,40,40,1) !default;
$navMobileBack: #282828 !default;
$navMobileMainMenuBack: #20252a !default;
$navMobileMenuLevelBack: #20252a !default;
$navBorderBottom: 1px groove #edc780 !default;

#navbar{ border-bottom: $navBorderBottom; }

.body--glazed-nav-mobile #navbar{
  background: $navMobileBack;
}

.body--glazed-nav-mobile .glazed-main-menu {
  background: $navMobileMainMenuBack;
}

.body--glazed-nav-mobile .menu__level{
  background: $navMobileMenuLevelBack;
}

.glazed-main-menu .wrap-branding a:hover { 
    background: $navbarGlazedWrapBrandLinkHov !important; 
}

.body--glazed-nav-mobile .glazed-main-menu  .dropdown a, 
.body--glazed-nav-mobile .glazed-main-menu  .dropdown a:link, 
.body--glazed-nav-mobile .glazed-main-menu  .dropdown a:visited { 
    color: $navMobileGlazedMainMenuDropdownLink !important; 
}

.body--glazed-nav-mobile #glazed-menu-toggle { 
    background: $navMobileMenuToggleBack !important;
}

.body--glazed-nav-mobile #glazed-menu-toggle span,
.body--glazed-nav-mobile #glazed-menu-toggle span:before,
.body--glazed-nav-mobile #glazed-menu-toggle span:after{ 
    background: $navMobileMenuToggleSpanBack !important;
}

.body--glazed-nav-mobile .glazed-main-menu ul li:hover { background: $navMobileMenuListHovBack; }
.body--glazed-nav-desktop #navbar  a{
    color: $navDesktopNavbarLink !important;
}
.body--glazed-nav-desktop #navbar a:hover { 
  color: $navDesktopNavbarLinkHovNoChild !important; 
  background: $navDesktopNavbarLinkHovBackNoChild !important; 
  border-bottom: $navDesktopNavbarLinkHovBorderNoChild !important;
}
.body--glazed-nav-desktop #navbar .has-child  a:hover { 
    color: $navDesktopNavbarLinkHov !important; 
    background: $navDesktopNavbarLinkHovBack !important; 
}

.body--glazed-nav-desktop #navbar .dropdown-menu a { 
    color: $navDesktopNavbarDropdownMenuLink !important; 
}

.body--glazed-nav-desktop #navbar .dropdown-menu a[data-drupal-link-system-path^="node"] { 
    color: $navDesktopNavbarDropdownMenuLinkNode !important;
}

.body--glazed-nav-mobile #navbar a { color: $navDesktopNavbarLinkMobile !important; }

.body--glazed-nav-desktop #navbar .wrap-branding a { background: $navDesktopNavbarWrapBranding !important; }

.body--glazed-nav-desktop #block-robco-main-menu .menu .dropdown-menu .dropdown *{
  background:transparent;
}

.body--glazed-nav-desktop #navbar.glazed-header--top {
	background-color: $navDesktopBack;
}

.body--glazed-nav-desktop #navbar.glazed-header--top.affix{
	background-color: $navDesktopBackAffix;
}
