$navbarGlazedWrapBrandLinkHov: transparent !default;
$navMobileGlazedMainMenuDropdownLink: #646464 !default;
$navMobileMenuToggleBack: transparent !default;
$navMobileMenuToggleSpanBack: #ffffff !default;
$navMobileMenuToggleSpanBackHov: #646464 !default;
$navMobileMenuToggleSpanBackLoRes: #ffffff !default;
$navMobileMenuToggleSpanBackLoResHov: #646464 !default;
$navMobileMenuToggleSpanBackTopTrans: transparent !default;
$navMobileMenuListHovBack: #fff !default;
$navDesktopNavbarChildLinkHov: #646464 !default;
$navDesktopNavbarChildLinkDecHov: underline !default;
$navDesktopNavbarLink: #e4e4e4 !default;
$navDesktopNavbarLinkHovNoChild: #646464 !default;
$navDesktopNavbarLinkHovBackNoChild: none !default;
$navDesktopNavbarLinkHovBorderNoChild: 1px solid black !default;
$navDesktopNavbarLinkHov: inherit !default;
$navDesktopNavbarLinkHovBack: inherit !default;
$navDesktopNavbarLinkHovBorder: 1px solid black !default;
$navDesktopNavbarLinkHovRoot: #fff !default;
$navDesktopNavbarLinkHovRootBack: #181818 !default;
$navDesktopNavbarDropdownMenuLink: #afafaf !default;
$navDesktopNavbarDropdownMenuLinkHov: #fff !default;
$navDesktopNavbarDropdownMenuLinkHovDec: underline !default;
$navDesktopNavbarWrapBranding: transparent !default;
$navDesktopNavbarDropdownMenuLinkNode: #646464 !default;
$navDesktopNavbarLinkMobile: #9f9f9f !default;
$navDesktopNavbarLinkMobileHov: #646464 !default;
$navDesktopBack: rgba(40,40,40,1) !default;
$navDesktopBackAffix: rgba(40,40,40,1) !default;
$navMobileBack: #282828 !default;
$navMobileMainMenuBack: #20252a !default;
$navMobileMenuLevelBack: #20252a !default;
$navBorderBottom: 1px groove #edc780 !default;

$navButtonBack: #282828 !default;
$navButtonColor: #696969 !default;
$navButtonBackHov: #282828 !default;
$navButtonColorHov: #000 !default;

$navButtonBackRev: #afafaf !default;
$navButtonColorRev: #fff !default;
$navButtonBackHovRev: #e4e4e4 !default;
$navButtonColorHovRev: #696969!default;

/*fix for uknown style*/
.glazed-header .glazed-main-menu .menu a{background: none!important;}
.body--glazed-nav-desktop #navbar a{color: inherit!important;}
/*end of fix*/

#navbar .btn,
#navbar .btn .caret{
    background: $navButtonBack; color: $navButtonColor;
}
#navbar .btn:hover,
#navbar .btn:hover .caret{
    background: $navButtonBackHov; color: $navButtonColorHov;
}
#navbar #navbar-search .btn,
#navbar #navbar-search .btn .caret{
    background: $navButtonBackRev; color: $navButtonColorRev;
}
#navbar #navbar-search .btn:hover,
#navbar #navbar-search .btn:hover .caret{
    background: $navButtonBackHovRev; color: $navButtonColorHovRev;
}

.glazed-header--side .menu__link[data-submenu]::after{ width: 2em; height: 2em; z-index: 5000;}
#navbar{ border-bottom: $navBorderBottom; }

.body--glazed-nav-mobile #navbar{
  background: $navMobileBack;
}

@media screen and (min-width:769px) and (max-width:1280px){
  .html--glazed-nav-mobile--open #navbar .container .container-row .navbar-header .wrap-branding{
    background: $navMobileMainMenuBack;
  }
}
@media screen and (max-width:768px){
  .html--glazed-nav-mobile--open #navbar .container .container-row .navbar-header .wrap-branding,
  .html--glazed-nav-mobile--open #navbar .container .container-row .navbar-header #glazed-menu-toggle{
    background: $navMobileMainMenuBack;
  }
}
.body--glazed-nav-mobile #glazed-main-menu .region-navigation-collapsible .menu,
.body--glazed-nav-mobile #glazed-main-menu .region-navigation-collapsible,
.body--glazed-nav-mobile .glazed-main-menu {
  background: $navMobileMainMenuBack;
}
.body--glazed-nav-mobile #glazed-main-menu .region-navigation-collapsible,
.body--glazed-nav-mobile .menu__level{
  background: $navMobileMenuLevelBack;
}

.glazed-main-menu .wrap-branding a:hover { 
    background: $navbarGlazedWrapBrandLinkHov !important; 
}

.body--glazed-nav-mobile .glazed-main-menu  .dropdown a, 
.body--glazed-nav-mobile .glazed-main-menu  .dropdown a:link, 
.body--glazed-nav-mobile .glazed-main-menu  .dropdown a:visited { 
    color: $navMobileGlazedMainMenuDropdownLink !important; 
}

.body--glazed-nav-mobile #glazed-menu-toggle { 
    background: $navMobileMenuToggleBack !important;
}


@media screen and (max-width:768px){
  .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle span,
  .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle span:before,
  .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle span:after,
  .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle:link span,
  .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle:link span:before,
  .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle:link span:after,
  .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle:visited span,
  .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle:visited span:before,
  .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle:visited span:after{
    background: $navMobileMenuToggleSpanBackLoRes !important;
  }
  .no-touchevents .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle:hover span,
  .no-touchevents .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle:hover span:before,
  .no-touchevents .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle:hover span:after{
    background: $navMobileMenuToggleSpanBackLoResHov !important;
  }
  .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle:active span,
  .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle:active span:before,
  .html--glazed-nav-mobile--open .body--glazed-nav-mobile #glazed-menu-toggle:active span:after{
    background: $navMobileMenuToggleSpanBackLoRes !important;
  }
  .body--glazed-nav-mobile #glazed-menu-toggle span,
  .body--glazed-nav-mobile #glazed-menu-toggle span:before,
  .body--glazed-nav-mobile #glazed-menu-toggle span:after,
  .body--glazed-nav-mobile #glazed-menu-toggle:link span,
  .body--glazed-nav-mobile #glazed-menu-toggle:link span:before,
  .body--glazed-nav-mobile #glazed-menu-toggle:link span:after,
  .body--glazed-nav-mobile #glazed-menu-toggle:visited span,
  .body--glazed-nav-mobile #glazed-menu-toggle:visited span:before,
  .body--glazed-nav-mobile #glazed-menu-toggle:visited span:after{
    background: $navMobileMenuToggleSpanBack !important;
  }
  .no-touchevents .body--glazed-nav-mobile #glazed-menu-toggle:hover span,
  .no-touchevents .body--glazed-nav-mobile #glazed-menu-toggle:hover span:before,
  .no-touchevents .body--glazed-nav-mobile #glazed-menu-toggle:hover span:after{
    background: $navMobileMenuToggleSpanBackHov !important;
  }
  .body--glazed-nav-mobile #glazed-menu-toggle:active span,
  .body--glazed-nav-mobile #glazed-menu-toggle:active span:before,
  .body--glazed-nav-mobile #glazed-menu-toggle:active span:after{
    background: $navMobileMenuToggleSpanBack !important;
  }
}
@media screen and (min-width:768px){
  .body--glazed-nav-mobile #glazed-menu-toggle span,
  .body--glazed-nav-mobile #glazed-menu-toggle span:before,
  .body--glazed-nav-mobile #glazed-menu-toggle span:after,
  .body--glazed-nav-mobile #glazed-menu-toggle:link span,
  .body--glazed-nav-mobile #glazed-menu-toggle:link span:before,
  .body--glazed-nav-mobile #glazed-menu-toggle:link span:after,
  .body--glazed-nav-mobile #glazed-menu-toggle:visited span,
  .body--glazed-nav-mobile #glazed-menu-toggle:visited span:before,
  .body--glazed-nav-mobile #glazed-menu-toggle:visited span:after{ 
      background: $navMobileMenuToggleSpanBack !important;
    }
  .no-touchevents .body--glazed-nav-mobile #glazed-menu-toggle:hover span,
  .no-touchevents .body--glazed-nav-mobile #glazed-menu-toggle:hover span:before,
  .no-touchevents .body--glazed-nav-mobile #glazed-menu-toggle:hover span:after{ 
    background: $navMobileMenuToggleSpanBackHov !important;
  }
  .body--glazed-nav-mobile #glazed-menu-toggle:active span,
  .body--glazed-nav-mobile #glazed-menu-toggle:active span:before,
  .body--glazed-nav-mobile #glazed-menu-toggle:active span:after{ 
      background: $navMobileMenuToggleSpanBack !important;
    }
}

.body--glazed-nav-mobile #navbar .navbar-toggle--active span,
.body--glazed-nav-mobile #navbar .navbar-toggle--active:hover span { 
    background: $navMobileMenuToggleSpanBackTopTrans !important; 
}
.body--glazed-nav-mobile .glazed-main-menu ul li:hover { background: $navMobileMenuListHovBack; }
.body--glazed-nav-desktop #navbar  a{
    color: $navDesktopNavbarLink !important;
}
.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-robco-main-menu > .menu-level-0 > .has-child.dropdown > ul > li > a:hover{
  color: $navDesktopNavbarChildLinkHov;
  text-decoration: $navDesktopNavbarChildLinkDecHov;
}


.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #navbar-search:hover > .dropdown-toggle,
.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-robco-account-menu > .menu--account > li:hover > a,
.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-robco-main-menu > .menu-level-0 > .has-child.dropdown > a:hover{ 
    color: $navDesktopNavbarLinkHov !important; 
    background: $navDesktopNavbarLinkHovBack !important; 
    border-bottom: $navDesktopNavbarLinkHovBorder !important;
}

.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-dropdownlanguage:hover > .dropdown-language-item,
.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-dropdownlanguage:hover > .dropdown-language-item > .dropdown-menu,
.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-dropdownlanguage:hover > .dropdown-language-item > .language-link,
.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-robco-main-menu > .menu-level-0 >  li.has-child:hover,
.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-robco-main-menu > .menu-level-0 >  li.has-child:hover > a,
.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-robco-main-menu > .menu-level-0 >  li.has-child:hover > a > span,
.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-robco-main-menu > .menu-level-0 >  li.has-child:active,
.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-robco-main-menu > .menu-level-0 >  li.has-child:active > a,
.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-robco-main-menu > .menu-level-0 >  li.has-child:active > a > span { 
  color:$navDesktopNavbarLinkHovRoot;
  background: $navDesktopNavbarLinkHovRootBack !important; }

.body--glazed-nav-desktop #navbar .region-navigation-collapsible > #block-robco-main-menu > .menu-level-0 > .dropdown > a:hover { 
  color: $navDesktopNavbarLinkHovNoChild !important; 
  background: $navDesktopNavbarLinkHovBackNoChild !important; 
  border-bottom: $navDesktopNavbarLinkHovBorderNoChild !important;
}
.body--glazed-nav-desktop #navbar .dropdown-menu a { 
    color: $navDesktopNavbarDropdownMenuLink !important; 
}
.body--glazed-nav-desktop #navbar .dropdown-menu a:hover { 
  color: $navDesktopNavbarDropdownMenuLinkHov !important; 
  text-decoration: $navDesktopNavbarDropdownMenuLinkHovDec !important;
}
.body--glazed-nav-desktop #navbar .dropdown-menu a[data-drupal-link-system-path^="node"] { 
    color: $navDesktopNavbarDropdownMenuLinkNode !important;
}

.body--glazed-nav-mobile #navbar a { color: $navDesktopNavbarLinkMobile !important; }
.body--glazed-nav-mobile #navbar a:hover { color: $navDesktopNavbarLinkMobileHov !important; }

.body--glazed-nav-desktop #navbar .wrap-branding a { background: $navDesktopNavbarWrapBranding !important; }

.body--glazed-nav-desktop #block-robco-main-menu .menu .dropdown-menu .dropdown *{
  background:transparent;
}

.body--glazed-nav-desktop #navbar.glazed-header--top {
	background-color: $navDesktopBack;
}

.body--glazed-nav-desktop #navbar.glazed-header--top.affix{
	background-color: $navDesktopBackAffix;
}
