$opinionsBlockViewHeaderHeadLinkHov: grey !default;
$opinionsBlockOpinionsBorder: #b89c68 !default;
$opinionsBlockOpinionsBack: #403b33 !default;
$opinionsBlockCarouselCtrlBack: none !default;

.opinions-block .opinions{
    border-color: $opinionsBlockOpinionsBorder;
    background-color: $opinionsBlockOpinionsBack;
}

.path-frontpage .opinions-block .jcarousel-wrapper .jcarousel-control-prev,
.path-frontpage .opinions-block .jcarousel-wrapper .jcarousel-control-next{
    background: $opinionsBlockCarouselCtrlBack;
}