$teamImgframe: #9c8457 !default;
$teamFigCapLink: #fff !default;
$teamFigCap: grey !default;
$teamHeaderLink: #fff !default;
$teamHeader: #a78e5e !default;
$teamCaruselCtrl: #fff !default;
$teamCarouselBackground: none !default;

.path-frontpage .team-block .view-content .views-field .field-content .img-frame{
    border-color:  $teamImgframe;
}

.path-frontpage .team-block .view-content .views-field .field-content .team-text figcaption div { 
    color: $teamFigCap;
}

.path-frontpage .team-block .view-content .views-field .field-content .team-text figcaption div a { 
    color: $teamFigCapLink;
}

.team-block .view-header h2{ 
    color: $teamHeader;
}

.team-block .view-header a{
    color: $teamHeaderLink;
}

.path-frontpage div[data-azb^="az_view-team-block"] figure figcaption a{
    color: $teamFigCapLink;
}

.path-frontpage .view-team .jcarousel-wrapper .jcarousel-control-next,
.path-frontpage .view-team .jcarousel-wrapper .jcarousel-control-prev{
    background: $teamCarouselBackground;
}

.path-frontpage .view-team .jcarousel-wrapper .jcarousel-control-next:after,
.path-frontpage .view-team .jcarousel-wrapper .jcarousel-control-prev:after{
    color: $teamCaruselCtrl !important;
}