$trustBlockViewHeader: #fff !default;
$trustBlockViewHeaderBorder: #9d865c !default;
$trustBlockViewHeaderHeadLink: #fff !default;
$trustBlockViewHeaderHeadLinkHov: grey !default;
$trustCarouselCtrl: #fff !default;
$trustCarouselCtrlBack: none !default;

.trust-block .view-header {
    color: $trustBlockViewHeader;
    border-color: $trustBlockViewHeaderBorder;
}
.trust-block .view-header h2 a{ color: $trustBlockViewHeaderHeadLink; }
.trust-block .view-header h2 a:hover{ color: $trustBlockViewHeaderHeadLinkHov; }

.path-frontpage .view-trust .jcarousel-wrapper .jcarousel-control-next,
.path-frontpage .view-trust .jcarousel-wrapper .jcarousel-control-prev{
    background: $trustCarouselCtrlBack;
}

.path-frontpage .view-trust .jcarousel-wrapper .jcarousel-control-next:after,
.path-frontpage .view-trust .jcarousel-wrapper .jcarousel-control-prev:after{
    color: $trustCarouselCtrl !important;
}