$userRegionTabsLink: #333333 !default;
$userRegionTabsLinkBorBottom: rgba(0,0,0,0.12) !default;
$userRegionTabsLinkBorLeft: rgba(0,0,0,0.08) !default;
$userRegionTabsLinkBorBottomHov: rgba(0,0,0,0.4) !default;
$userRegionTabsLinkBorLeftHov: rgba(0,0,0,0.3) !default;
$userRegionTabsLinkBorBottomFoc: rgba(0,0,0,0.12) !default;
$userRegionTabsLinkBorLeftFoc: rgba(0,0,0,0.08) !default;
$userRegiontabsPrimaryLink: #fff !default;
$userRegionTabsSecondLink: #fff !default;
$userRegionButtonBack: #333333 !default;
$userRegionButtonBackHov: #9f885d !default;
$userRegionTabsBack: transparent !default;
$userRegionTabsListBack: #9f885d !default;
.path-user .region.region-content .tabs { background-color: $userRegionTabsBack !important; }
.path-user .region.region-content .user-login-form .form-actions .btn:hover{ background-color: $userRegionButtonBackHov; }
.path-user .region.region-content .tabs ul a {
    background-color: $userRegionTabsLink;
}

.path-user .region.region-content .tabs .glazed-mini-tabs-wrapper .tabs--primary li a{ 
    color: $userRegiontabsPrimaryLink;
}

.path-user .region.region-content .tabs .tabs--secondary li a{ 
    color: $userRegionTabsSecondLink;
}

.path-user .region.region-content .user-login-form .form-actions .btn{
    background-color: $userRegionButtonBack;
}

.path-user .region.region-content .tabs ul a:hover{ 
    background-color: $userRegionTabsListBack;
    border-bottom-color: $userRegionTabsLinkBorBottomHov;
    border-left-color: $userRegionTabsLinkBorLeftHov;
}

.path-user .region.region-content .tabs ul a {
    border-bottom-color:$userRegionTabsLinkBorBottom;
    border-left-color: $userRegionTabsLinkBorLeft;
}

.path-user .region.region-content .tabs ul a:focus{
    border-bottom-color: $userRegionTabsLinkBorBottomFoc;
    border-left-color: $userRegionTabsLinkBorLeftFoc;
    background-color: $userRegionTabsListBack;
}
.path-user .region.region-content .tabs .active a{ 
    background-color: $userRegionTabsListBack; 
}