<li class="dropdown">
	<a class="dropdown-toggle" data-target="#">
		<span class="title"><i class="fas fa-search"></i></span>
	</a>
	<div {{ attributes.addClass(classes) }}>
		{% block content %}
			{{ content }}
		{% endblock %}
	</div>
</li>
