.blog-page-view .views-row {text-align: center; margin:1em;}
.blog-page-view .views-row article a { text-decoration:none; }
.blog-page-view .views-row .img-responsive {margin:auto; width: 35%; float:left; padding-right:1em;}
.blog-page-view .views-row article p { text-align: justify; margin: 1em; }
/*.blog-page-view .views-row article p:first-letter {font-size:2em; font-weight:bold; margin:0;}*/
