.find-domain-view .view-content h2 {display:none;}
.find-domain-view .view-content input { margin-top:3em; }
.find-domain-view .view-content button[type=submit] { display: block; margin:auto !important; }  
