.drag-and-drop-page .hosting-tabs .nav-tabs li {width:50%;text-align: center; border: 0.1em solid; border-radius: 1em 1em 0em 0em;}
.drag-and-drop-page .hosting-tabs .nav-tabs li a{border:none!important;}
.drag-and-drop-page .hosting-tabs .nav-tabs{border-bottom: 0.1em solid ;}
