.dropdown-language-item.dropdown:hover .dropdown-menu { display:block; }
.dropdown-language-item.dropdown-menu { border: none !important; box-shadow: none !important; }
.dropdown-language-item .btn { border:none !important; }