.no-container .container{margin:auto;max-width:1500px;}
.logos-block .teaser{margin:1em;}
.logos-block .logos{
  height: 220px;
}
.path-frontpage .logos-block .jcarousel-wrapper.jcarousel-skin-tango{margin:0;max-width:100%;}

.logos-block .logos .img-responsive{
margin-left: auto;
margin-right: auto;
}

.path-frontpage .logos-block .jcarousel-wrapper{
box-shadow: none;
}

.path-frontpage .logos-block .jcarousel-wrapper .jcarousel-control-next{
visibility: visible;
opacity: 1;
display: block;
right: -1em;
box-shadow: none;
margin-top:12%;
}

.path-frontpage .logos-block .jcarousel-wrapper .jcarousel-control-prev{
visibility: visible;
opacity: 1;
display: block;
left: -1em;
box-shadow: none;
margin-top:12%;
}
.logos-block .logos h2 { 
  display: none; 
}
.path-frontpage .logos-block .jcarousel-wrapper ul li { height: auto; }
.path-frontpage .logos-block .jcarousel-wrapper{height:auto;}


.path-frontpage .logos-block .jcarousel-wrapper .jcarousel .jcarousel-container-horizontal {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.path-frontpage .logos-block .jcarousel-wrapper.jcarousel-skin-tango{width:100%;}
@media screen and (min-width:1480px){
.path-frontpage .logos-block .jcarousel-wrapper ul li { width:23.5em!important; }
}
@media screen and (min-width:1321px) and (max-width:1479px){
.path-frontpage .logos-block .jcarousel-wrapper ul li { width:24vw!important; }
}
@media screen and (min-width:1001px) and (max-width:1320px){
.path-frontpage .logos-block .jcarousel-wrapper ul li { width:32vw!important; }
}
@media screen and (min-width:681px) and (max-width:1000px){
.path-frontpage .logos-block .jcarousel-wrapper ul li { width:48vw!important; }
}
@media screen and (max-width:680px){
.path-frontpage .logos-block .jcarousel-wrapper ul li { width:94vw!important; }
}

.path-frontpage .logos-block article .content{
  height:100%;
}

.path-frontpage .logos-block article .content .field--type-image{
  height:100%;
  position: relative;
}

.path-frontpage .logos-block article .content .field--type-image img{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}