.body--glazed-nav-mobile #glazed-main-menu.glazed-main-menu .menu__breadcrumbs{top:190px!important;margin-left:-.5em!important;padding:0;}
#toolbar-administration + .dialog-off-canvas-main-canvas #glazed-main-menu.glazed-main-menu .menu__breadcrumbs {top:160px!important;margin-left:-.5em!important;padding:0;}
.toolbar-tray-open.toolbar-horizontal #toolbar-administration + .dialog-off-canvas-main-canvas #glazed-main-menu.glazed-main-menu .menu__breadcrumbs {top:200px!important;margin-left:-.5em!important;padding:0;}

.body--glazed-nav-desktop .block-system-menu-blockmain .menu .dropdown > .dropdown-menu{padding:.5em;}
.body--glazed-nav-desktop .block-system-menu-blockmain .menu .dropdown:hover > .dropdown-menu {padding:.5em;display: flex;flex-direction: row;justify-content:space-around; }
.body--glazed-nav-desktop .block-system-menu-blockmain .menu .dropdown > .dropdown-menu .menu-level-2 {display: flex;flex-direction: row;justify-content: flex-start;}

.body--glazed-nav-desktop .block-system-menu-blockmain ul > li > ul{
  min-width: 0!important;
}
.body--glazed-nav-desktop .block-system-menu-blockmain ul > li > ul > li{
  width: auto!important;  
}
.body--glazed-nav-desktop .block-system-menu-blockmain ul li ul li ul li ul li{
  float:none;  
}
.body--glazed-nav-desktop .block-system-menu-blockmain .menu .dropdown > .dropdown-menu{
  width: auto!important;
  max-width: 70vw;
}
/*--- mobile nav ---
.body--glazed-nav-mobile .block-dropdown-language { width:100% !important; text-align:left !important; }
.body--glazed-nav-mobile .block-dropdown-language .dropdown-language-item .dropdown-toggle .caret { display:none !important; }
.body--glazed-nav-mobile .block-dropdown-language .dropdown-language-item button { padding-left:15px !important; }   
.body--glazed-nav-mobile .block-dropdown-language { 
	-webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1;
	box-ordinal-group: 1; float:none; position:static;
}    	
.body--glazed-nav-mobile .block-dropdown-language .dropdown-menu { position:static; }
.body--glazed-nav-mobile .block-dropdown-language .dropdown-toggle { display:none; }
.body--glazed-nav-mobile .block-dropdown-language .active-language { float:left !important; width:30% !important; }
.body--glazed-nav-mobile .block-dropdown-language ul { float:left !important; }
/*--- desktop ---
.body--glazed-nav-desktop .block-dropdown-language .dropdown-language-item ul li a { display:block !important; width:100% !important; }
.body--glazed-nav-desktop .block-dropdown-language .dropdown-language-item .language-link { display:table-cell; height:80px; }
.body--glazed-nav-desktop .block-dropdown-language .dropdown-language-item .dropdown-toggle .caret { display:none !important; }
.body--glazed-nav-desktop .block-dropdown-language,
.body--glazed-nav-desktop .block-dropdown-language button  { display:block; height:80px; }
.body--glazed-nav-desktop .block-dropdown-language { -webkit-box-ordinal-group: 3; -moz-box-ordinal-group: 3; box-ordinal-group: 3; float: none !important; }
.body--glazed-nav-desktop .block-dropdown-language { position:absolute !important; right:-2em; }

/*---------------- NAVIGATION MENU -----------------------------
.body--glazed-nav-mobile .main-navigation-block { -webkit-box-ordinal-group: 3; -moz-box-ordinal-group: 3;
                             box-ordinal-group: 3; float:none !important;
}
.body--glazed-nav-mobile .main-navigation-block .menu.navbar-nav { height:auto !important; position:static !important; }
.body--glazed-nav-mobile .glazed-main-menu.menu--open .menu__breadcrumbs { top:25em !important;  left:-2em !important;  }
.body--glazed-nav-mobile .main-navigation-block { position:relative; top:1em; }

.body--glazed-nav-desktop .main-navigation-block { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; box-ordinal-group: 1; float:none; margin-left:6em; }
.body--glazed-nav-desktop .main-navigation-block .menu.nav.navbar-nav { height: 80px !important; }
.body--glazed-nav-desktop .main-navigation-block { margin-right:20%; }

/* -------- NAVBAR  --------- 
.navbar-container{ transition:all 1s; }
#navbar { position:fixed !important; width:100%; height:80px !important; }
.glazed-main-menu .nav > li > a { padding: 10px 25px !important; }
#navbar .wrap-branding { height:80px; }

.body--glazed-nav-mobile #navbar {height:60px!important;}
.body--glazed-nav-mobile .body--glazed-nav-mobile .glazed-header #logo {padding-bottom: 10px;}
.body--glazed-nav-mobile .glazed-header #glazed-menu-toggle {padding: 2px 32px 16px 0px;}
.body--glazed-nav-mobile .glazed-main-menu a:hover { padding-left:15px !important; }
    
.body--glazed-nav-mobile .glazed-main-menu a, 
.body--glazed-nav-mobile .glazed-main-menu a:visited, 
.body--glazed-nav-mobile .glazed-main-menu a:link { padding-left:15px !important; }

.body--glazed-nav-mobile #glazed-menu-toggle {  height:80px !important; margin:0 !important; }
	
.body--glazed-nav-mobile #glazed-menu-toggle span,
.body--glazed-nav-mobile #glazed-menu-toggle span:before,
.body--glazed-nav-mobile #glazed-menu-toggle span:after{ content:" ";  margin-top:75%; }
	
.body--glazed-nav-mobile #logo { vertical-align:middle !important;  }
.body--glazed-nav-mobile #navbar .navbar-toggle--active span {  margin-top:0 !important; }
	
.body--glazed-nav-mobile #navbar .wrap-branding { height:80px !important; }
	
.body--glazed-nav-mobile #glazed-main-menu .region-navigation-collapsible { display: -webkit-box; display: -moz-box; display: box;
                                                        -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical;
}
.body--glazed-nav-mobile #glazed-main-menu { padding-left:0; padding-right:0; }
    
.body--glazed-nav-mobile .region.region-navigation-collapsible { margin-top:5em !important; }
.body--glazed-nav-mobile .wrap-branding { position: fixed; z-index: 5555; top:0px; }
.body--glazed-nav-mobile .body--glazed-nav-mobile .glazed-header .nav{margin-top:1em;}
.body--glazed-nav-mobile .navbar-nav { margin-top:1.5em !important; }
.body--glazed-nav-mobile .navbar-nav li .dropdown-menu { margin-top:7.5em !important; }
.body--glazed-nav-mobile .navbar-nav li .glazed-megamenu { margin-top:7.5em !important; }


.body--glazed-nav-desktop .glazed-main-menu .region-navigation-collapsible { 
		display: -webkit-box; display: -moz-box; display: box;-webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; }

.body--glazed-nav-desktop #navbar .dropdown-menu a { height:2em !important;  }
.body--glazed-nav-desktop #navbar .dropdown-menu a[data-drupal-link-system-path^="node"] { 
		margin-left:.65em;
}

.body--glazed-nav-desktop #navbar { z-index:4050 !important; }
.body--glazed-nav-desktop .block-system-menu-blockmain ul,
.dropdown-language-item .dropdown-menu { -webkit-box-shadow: none !important; box-shadow: none !important; }
.body--glazed-nav-desktop .block-system-menu-blockmain ul .active a {  }

.body--glazed-nav-desktop .block-system-menu-blockmain ul li ul li ul { display:flex !important; padding:initial; }
.body--glazed-nav-desktop .block-system-menu-blockmain ul li ul li ul li ul { display:block !important; }
.body--glazed-nav-desktop .block-system-menu-blockmain ul li ul li  { width:25% !important; }
.body--glazed-nav-desktop #dim-overlay{
	  position:fixed !important;
	  top:-100vh;
	  left:-100vh;
	  width:200vw;
	  height:200vh;
	  display:none;
	  z-index:500;
	  clip:none !important;
	  content:' ';
  }

.body--glazed-nav-desktop .block-system-menu-blockmain .menu .dropdown > .dropdown-menu { padding:3em; }
.body--glazed-nav-desktop .navbar.affix-top .block-system-menu-blockmain .menu .dropdown > .dropdown-menu {margin-top:55px!important;}
.body--glazed-nav-desktop .navbar.affix .block-system-menu-blockmain .menu .dropdown > .dropdown-menu {margin-top:30px!important;}*/