/*.offer .field--item .img-responsive {float:left;}
.offer .content p {padding-left:15em;}*/

.offer-page-view .view-content .views-field-title {text-align: center; margin:1em;}
.offer-page-view .view-content .views-field-title a {font-size: 1.5em; text-decoration:none;}
.offer-page-view .view-content .img-responsive {margin:auto;}
.offer-page-view .field-content .field-body {display: block;text-align: justify; margin: 1em;}
