$mainBodyBack:#21252a !default;
$mainWrapContainersBack:#fff !default;
$mainTabsBack:#fff !default;

body { background: $mainBodyBack!important; }
.wrap-containers { background:$mainWrapContainersBack; }
.region.region-content .tabs[aria-label=Tabs] { background:$mainTabsBack; }

h2 > a > span { color: $blogPageRowArticleLink;}
h2 > a:hover > span {color:$blogPageRowArticleLinkHov;}