$sitemapHeader: #fff !default;
$sitemapLink: #fff !default;
$sitemapLinkHov: grey !default;
$sitemapLinkBgHov: transparent !default;
$sitemapBg: transparent !default;
$sitemapExpandBg: transparent !default;

.sitemap-block a {
    color: $sitemapLink !important;
}

.sitemap-block ul{ background: $sitemapBg !important; }
.body--glazed-nav-desktop .sitemap-block .expanded.dropdown:hover > a{ background: $sitemapExpandBg !important; }

.sitemap-block h2{ color: $sitemapHeader; }

#block-sitemap .menu--main-menu li a:visited,
#block-sitemap .menu--main-menu li a:hover,
#block-sitemap .menu--main-menu li a:link,
#block-sitemap .menu--main-menu li a:active{background-color: $sitemapLinkBgHov;}
#block-sitemap .menu--main-menu li a:hover {color:$sitemapLinkHov!important;}
