.body--glazed-nav-desktop .about-us-section:before{
  content: " ";
  white-space: pre;
  display: block;
  position:relative;
  top:-1.9em;  
  transform: rotate(-1.75deg);
  height:4.5em;
  white-space: pre;
  left: -0.2em;
  width: 101%;
  overflow: hidden;

}
.body--glazed-nav-desktop .about-us-section:after{
  content: " ";
  white-space: pre;
  display:block;
  height:4.5em;
  transform: rotate(1.65deg);
  position: relative;
  top:4.2em;
  white-space: pre;
  left: -0.2em;
  width: 101%;
  overflow: hidden;

}

.body--glazed-nav-desktop .about-us-section{
  margin-top:6em;
  overflow: hidden;
}
