.body--glazed-nav-desktop .certificates-section:before{
  content: " ";
  white-space: pre;
  display: block;
  position: relative;
  top: -1.8em;
  left: 0.1em;
  transform: rotate(-1.75deg);
  height: 4.5em;
}

.body--glazed-nav-desktop .certificates-section:after{
  content: " ";
  white-space: pre;
  display: block;
  position: relative;
  top: 4.2em;
  left: 0.1em;
  transform: rotate(1.75deg);
  height: 4.5em;
}

.certificates-section article{
  padding:.5em;
}

/* test */
.certificates-section article{
  transform: skew(40deg);
}

.certificates-section article .content{
  transform: skew(-40deg);
  filter: brightness(85%);
  transition: all ease-in-out .2s;
}

.certificates-section article .content:hover{
  filter: brightness(105%);
}
