@media screen and (min-width:1280px) {
  .hero-section {
    min-height:26.5em;
  }

  .hero-section { 
    padding-top:3em;
  }
}

.body--glazed-nav-desktop .hero-section:before{
  content: " ";
  white-space: pre;
  display: block;
  position:relative;
  top:-2.25em;
  left:-0.1em;
  transform: rotate(-1.75deg);
  height:4.5em;
  z-index:4000;
}
.body--glazed-nav-desktop .hero-section:after{
  content: " ";
  white-space: pre;
  display:block;
  height:4.5em;
  transform: rotate(1.65deg);
  position: relative;
  top:1.75em;
}

.hero-block .jcarousel-wrapper.jcarousel-skin-tango.jcarousel-visible-1 li .article > h2{display:none;}
.hero-block .jcarousel-wrapper.jcarousel-skin-tango.jcarousel-visible-1{width:100%;height:auto;margin:auto;}
.hero-block .jcarousel-wrapper.jcarousel-skin-tango.jcarousel-visible-1 li{height:100%;width:100vw;}
.hero-block .jcarousel-wrapper.jcarousel-skin-tango.jcarousel-visible-1 li .article .content .az-section {padding:4vw 0;}