.body--glazed-nav-desktop .mega .menu-level-1{
  min-width:initial !important;
}

.body--glazed-nav-mobile .region-navigation-collapsible{
	height:100%;
}

.body--glazed-nav-mobile .glazed-main-menu {
	padding-bottom:0;
}

.body--glazed-nav-desktop #navbar .container .container-row .navbar-header { width: 190px;}