.body--glazed-nav-desktop .menu-level-0 > li > a{ 
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.body--glazed-nav-desktop .navbar-nav .dropdown-menu{border-radius: 1em!important;left:-2em;}
.body--glazed-nav-desktop #navbar .container .container-row .navbar-header { width: 190px;}

.body--glazed-nav-mobile #glazed-main-menu.glazed-main-menu .menu__breadcrumbs{top:190px!important;margin-left:-.5em!important;padding:0;}
#toolbar-administration + .dialog-off-canvas-main-canvas #glazed-main-menu.glazed-main-menu .menu__breadcrumbs {top:160px!important;margin-left:-.5em!important;padding:0;}
.toolbar-tray-open.toolbar-horizontal #toolbar-administration + .dialog-off-canvas-main-canvas #glazed-main-menu.glazed-main-menu .menu__breadcrumbs {top:200px!important;margin-left:-.5em!important;padding:0;}