.page-node-type-blog .title-page-title h2 {text-align: right;}
.view-offer-page .views-row { margin:2em 0em; }
.view-offer-page .views-row article a { 
    text-decoration: none; 
}

.view-offer-page .views-row .img-responsive {
    margin: auto; 
    width: 35%; 
    float: left; 
    padding-right: 1em;
    margin-right:1em;
}

@media screen and (max-width:480px){  
  .path-blog .views-field-field-image img{
      width:100% !important; 
      float: none !important; 
      margin: auto;
    }
}

.view-offer-page { 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.view-offer-page .az-ctnr .container-fluid { max-width:1280px !important; }
.view-offer-page .blog .content { 
    overflow: hidden; 
    height: 36em; 
}

.view-offer-page article { 
    padding:14px; 
    margin:14px 14px; 
    border: none; 
    border-radius: 15px; 
    text-align: center; 
}

.view-offer-page article img { display: none; }
.view-offer-page article .content::after { 
    display: inline-block;  
    padding:10px; 
    border-radius: 10px; 
    text-align: center; 
    margin:15px auto; 
}
.view-offer-page h1 {  
    margin: 20px auto; 
}
.view-offer-page h2{ 
    font-size: 16px; 
    font-weight: 400; 
    margin-top:3em; 
}

.path-blog .view-offer-page .views-field-title a,
.path-blog .view-offer-page .views-field-title a:active,
.path-blog .view-offer-page .views-field-title a:hover,
.path-blog .view-offer-page .views-field-title a:link,
.path-blog .view-offer-page .views-field-title a:visited{
  font-weight:500;
  font-size: 1.8em;
}

.path-blog .view-offer-page .views-row:first-child{
  margin-right:3em;
}

.path-blog .view-offer-page .views-field-created{
  position: absolute;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 2.5em;
  width: 3em;
}

.path-blog .view-offer-page .views-field-uid a:before{
  content:' - ';
}

.path-blog .title-page-title h2 {
  font-size:31px;
  text-decoration: underline;
  text-align: center;
} 

.view-offer-page .read-more a{
    font-size: 3em;
}

