.path-frontpage .view-offer-block .view-header{margin:4em 0 2em 0;}
.path-frontpage .view-offer-block .view-header + .view-content  {display: flex; flex-direction: row; }
.path-frontpage .view-offer-block .view-header + .view-content .views-row {margin:2em;}
.path-frontpage .view-offer-block .view-header + .view-content .views-row .views-field-title {margin:1em 0; font-weight: 900;}
@media screen and (min-width:481px) and (max-width:1024px){
  .path-frontpage .view-offer-block .view-header + .view-content {flex-direction: column;}
  .path-frontpage .view-offer-block .view-header + .view-content .views-row {margin:1em;}
  .path-frontpage .view-offer-block .view-header + .view-content .views-row .views-field-title {margin:0 0 1em 0;}
  .path-frontpage .view-offer-block .view-header + .view-content img {float: left;width:30%;margin:0 2em 0 0;}
  
}
@media screen and (max-width:480px){
  .path-frontpage .view-offer-block .view-header + .view-content {flex-direction: column;}
}