@media screen and (max-width: 1199px){
  .path-frontpage .view-about-us-block { padding: 3%; }
  .path-frontpage .view-about-us-block h2 a { 
	text-align: left; 
	display: block; 
	margin-bottom: 1%; 
  }
  
  .path-frontpage .view-about-us-block article { 
	text-align: center;
  }
  .path-frontpage .view-about-us-block .view-content .views-field .field-content{ margin:1em; }
}

@media screen and (min-width: 1200px){
  .path-frontpage .view-about-us-block { padding: 1em; }
  .path-frontpage .view-about-us-block h2 a { 
	text-align: left; 
	display: block; 
	margin-bottom: 1%; 
  }
  
  .path-frontpage .view-about-us-block article { 
	text-align: center; 
	max-width: 1500px; 
	margin: auto; 
	padding-left: 5%; 
	padding-right: 5%; 
  }
  .path-frontpage .view-about-us-block .view-content .views-field .field-content{ margin:2em; }
}

.path-frontpage .view-about-us-block{
	width:90%;
	margin-top:2em;
}

@media screen and (max-width:480px){
	.path-frontpage .view-about-us-block .view-content .views-col{ width:100% !important; }
}

@media screen and (max-width:1199px){
  .path-frontpage .about-us-column-2 { display: none; }
  .path-frontpage .view-about-us-block .view-content{ 
	margin-left: 0%; 
	margin-right: 0%;
  }
  .path-frontpage .view-about-us-block{ width:initial;margin: 0 -15px; }
  }
  
@media screen and (min-width:1200px){
	.path-frontpage .view-about-us-block{width:80%;}
	.path-frontpage .view-about-us-block .views-row{ width:80%; }
}

.path-frontpage .view-about-us-block .view-header{ padding: 1em 0em 1em 0em; }
.path-frontpage .view-about-us-block .view-header h2 a{
	font-size: 1.5em; 
	text-decoration: underline;
}

.path-frontpage .view-about-us-block .az-section.az-element,
.path-frontpage .view-about-us-block .az-section.az-element .az-element.az-row,
.path-frontpage .view-about-us-block .az-section.az-element .az-element.az-row .az-column:nth-child(2),
.path-frontpage .view-about-us-block .az-section.az-element .az-element.az-row .az-column:nth-child(2) .az-image{
	position: static !important;
}

.path-frontpage .view-about-us-block .az-section.az-element .az-element.az-row{
	margin:0;
}

.path-frontpage .view-about-us-block .az-section.az-element .az-element.az-row .az-column:nth-child(2){
  position: absolute !important;
  right: 0;
  width: 50%;
}

.path-frontpage .view-about-us-block .az-section.az-element .az-element.az-row .az-column:nth-child(1){
  width:95%;
}

/* TEAM ATTACHMENT */

.path-frontpage .view-about-us .view-content .views-field .field-content{margin:1em;}

@media screen and (max-width:480px){
  .path-frontpage .view-about-us .view-content .views-col{ width:100% !important; }
}
  
.path-frontpage .view-about-us .view-content .views-field .field-content .img-frame{
  	width: 220px;
  	height: 220px;
  	border-style: solid;
    border-width: 2px;
  	margin: auto;
}

.path-frontpage .view-about-us .view-content .views-field .field-content figure img { 
	margin: -0.5em 0em 0em -0.5em; 
	float: none; 
}
.path-frontpage .view-about-us .view-content .views-field .field-content .team-text figcaption { margin: 0.1em; }
.path-frontpage .view-about-us .view-content .views-field .field-content .team-text figcaption div { 
	text-align: center;
}
.path-frontpage .view-about-us .view-content .views-field .field-content .team-text figcaption div a { 
	font-size: 1.2em; 
}

@media screen and (max-width:1199px){
  .path-frontpage .view-about-us-frontpage-attachement{
      margin-top:2em;
  }
}

@media screen and (min-width:1200px) and (max-width:1299px){
  .path-frontpage .view-about-us-frontpage-attachement{
      margin-top:6em;
  }
}

@media screen and (min-width:1300px){
  .path-frontpage .view-about-us-frontpage-attachement{
      margin-top:12em;
  }
}
