.path-admin .form-group .enabled .views-ui-view-operations .btn-group.dropdown .button {
   padding-right:10px; 
}

.path-admin .form-group .disabled .views-ui-view-operations .btn-group.dropdown .button {
   padding-right:5px;
}

.path-admin .views-listing-table{
  width:100%;
}

.path-admin .view-id-content .view-filters .form-item-title{
  width: 30%;
}

.path-admin .view-id-content .view-filters .form-item-title input{
  width:100%;
}

.path-admin .view-id-content .view-filters .form-item-type{
  width: 20%;
}

.path-admin .view-id-content .view-filters .form-item-status{
  width: 15%;
}

.path-admin .view-id-content .view-filters .form-item-langcode{
  width: 33%;
}

.path-admin .view-comment label{
  display: block;
}

.path-admin .view-comment label{
  display: block;
}

.path-admin .view-comment .form-item-subject input{
  width:100%;
} 

.path-admin .view-comment .form-item-author-name input{
  width:100%;
}

.path-admin .view-id-files label{
  display: block;
}

.path-admin .media-library-view label{
  display: block;
}

.path-admin .media-library-view .form-item-status{
  width:12.5%;
}

.path-admin .media-library-view .form-item-type{
  width:14.5%;
}

.path-admin .media-library-view .form-item-sort-by{
  width:14.5%;
}

.path-admin .media-library-view .form-item-name {
  width:45%;
}

.path-admin #views-display-menu-tabs{
  list-style: none;
}

.path-admin #edit-displays .dropbutton{
  list-style: none;
}

.toolbar-horizontal .dialog-off-canvas-main-canvas .wrap-containers .js-quickedit-main-content{
  margin-top:0;
}

.path-admin .view-content tbody .views-field-operations .dropdown{width:8em;}

.path-admin .region.region-content .tabs ul a {
  margin: 1em 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-left-style: solid;
  border-left-width: 3px;
  border-right: none;
  border-top: none;
}


.path-admin .region.region-content .tabs ul a:focus{
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-left-style: solid;
  border-left-width:3px;
  
}

.path-admin .region.region-content .tabs .glazed-mini-tabs-wrapper .tabs--primary li a{ 
  padding:1em!important;
}
.path-admin .region.region-content .tabs .tabs--secondary li a{ 
  padding:1em!important;
}

.path-admin .region.region-content .user-login-form .form-actions .btn{
  margin: 1em;
}
.path-admin .glazed-mini-tabs-wrapper .tabs--primary{
  box-shadow:none;
}
.path-admin #menu-overview .checkbox{margin:auto;border-top:none;}

.path-admin .affix { top: initial !important; }
