.path-admin .wrap-messages {
  position: static;
}

.path-admin .form-group .enabled .views-ui-view-operations .btn-group.dropdown .button {
   padding-right:10px; 
}

.path-admin .form-group .disabled .views-ui-view-operations .btn-group.dropdown .button {
   padding-right:5px;
}

.path-admin .views-listing-table{
  width:100%;
}

.path-admin .view-id-content .view-filters .form-item-title{
  width: 30%;
}

.path-admin .view-id-content .view-filters .form-item-title input{
  width:100%;
}

.path-admin .view-id-content .view-filters .form-item-type{
  width: 20%;
}

.path-admin .view-id-content .view-filters .form-item-status{
  width: 15%;
}

.path-admin .view-id-content .view-filters .form-item-langcode{
  width: 33%;
}

.path-admin .view-comment label{
  display: block;
}

.path-admin .view-comment label{
  display: block;
}

.path-admin .view-comment .form-item-subject input{
  width:100%;
} 

.path-admin .view-comment .form-item-author-name input{
  width:100%;
}

.path-admin .view-id-files label{
  display: block;
}

.path-admin .media-library-view label{
  display: block;
}

.path-admin .media-library-view .form-item-status{
  width:12.5%;
}

.path-admin .media-library-view .form-item-type{
  width:14.5%;
}

.path-admin .media-library-view .form-item-sort-by{
  width:14.5%;
}

.path-admin .media-library-view .form-item-name {
  width:45%;
}

.path-admin #views-display-menu-tabs{
  list-style: none;
}

.path-admin #edit-displays .dropbutton{
  list-style: none;
}

.toolbar-horizontal .dialog-off-canvas-main-canvas .wrap-containers .js-quickedit-main-content{
  margin-top:0;
}

.path-admin .view-content tbody .views-field-operations .dropdown{width:8em;}
.path-admin .view-content tbody .views-field-changed {width:10em;}

.region.region-content .tabs ul a,
.region.region-content .tabs ul a {
  margin: 1em 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-left-style: solid;
  border-left-width: 3px;
  border-right: none;
  border-top: none;
}

.region.region-content .tabs ul a:focus,
.region.region-content .tabs ul a:focus{
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-left-style: solid;
  border-left-width:3px;
  
}
.path-frontpage .region.region-content .tabs .glazed-mini-tabs-wrapper .tabs--primary{margin-top:6em;}
.region.region-content .tabs .glazed-mini-tabs-wrapper .tabs--primary li a,
.region.region-content .tabs .glazed-mini-tabs-wrapper .tabs--primary li a{ 
  padding:1em!important;
}
.region.region-content .tabs .tabs--secondary li a,
.region.region-content .tabs .tabs--secondary li a{ 
  padding:1em!important;
}
.region.region-content .user-login-form .form-actions .btn,
.region.region-content .user-login-form .form-actions .btn{
  margin: 1em;
}
.glazed-mini-tabs-wrapper .tabs--primary,
.glazed-mini-tabs-wrapper .tabs--primary{
  box-shadow:none!important;
}

.path-admin #menu-overview .checkbox{margin:auto;border-top:none;}
.path-admin .checkbox{margin:auto!important;}

.path-admin .affix { top: initial !important; }

#entity-browser-cms-image-browser-form .view-glazed-cms-media-browser label{
  display:block;
}

#entity-browser-cms-image-browser-form .view-glazed-cms-media-browser .form-item{
  max-width:30%;
  display: inline-block;
}

#entity-browser-cms-image-browser-form .view-glazed-cms-media-browser .view-content{ 
  border-width:1px;
  border-style: solid; 
  margin:1em;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 10em;
  max-height:95em;
  width:98% !important;
  align-items: flex-start;
}
#entity-browser-cms-image-browser-form .view-glazed-cms-media-browser .view-content .grid-item { 
  opacity:1;
  margin:.25em;
}
#entity-browser-cms-image-browser-form .view-glazed-cms-media-browser .view-content .grid-item::after { 
  content:initial; 
  display:none; 
}
#entity-browser-cms-image-browser-form .view-glazed-cms-media-browser .view-content .grid-item .views-field-nothing,
#entity-browser-cms-image-browser-form .view-glazed-cms-media-browser .view-content .grid-item .views-field-file-browser-preview{
  position:relative; 
}
#entity-browser-cms-image-browser-form .view-glazed-cms-media-browser .view-content .grid-item .grid-item-info:last-child:after{
  content:" ";
  float:none;
  clear:both;
  white-space: pre;
}
#entity-browser-cms-image-browser-form .pagination {
  list-style:none;
  text-align:center;
}

#entity-browser-cms-image-browser-form .pagination li{
  display: inline-block;
  border-width:1px;
  border-style: solid;
}
#entity-browser-cms-image-browser-form .pagination li:nth-child(2n),
#entity-browser-cms-image-browser-form .pagination li:nth-child(2n+1){
  border-right-width:0;
  margin-right:-6px;
}

#entity-browser-cms-image-browser-form .pagination li:last-child{
  border-right-width:1px;
}

#entity-browser-cms-image-browser-form .grid-item{
  position:relative;
}

#entity-browser-cms-image-browser-form .grid-item .views-field-entity-browser-select{
  position: absolute;
}

#entity-browser-cms-image-browser-form .grid-item .views-field-entity-browser-select .field-content{
  position: absolute;
  top:0;
  left:0;
  text-align:initial;
  z-index:4096;
}

#entity-browser-cms-image-browser-form .grid-item .views-field-entity-browser-select .field-content .form-item{
  max-width:initial !important;
}

.views-field-entity-browser-select { 
  display: block !important; 
}

.ui-dialog{
  z-index:9970 !important;
}

#az-editor-tabs .nav-tabs li { margin-right:1em; }
.html .path-is-node-edit .form-actions .form-submit:nth-child(1){ margin-right:0; }

.path-admin .views-admin #edit-display-settings-top .dropbutton-wrapper .dropbutton{
  width:20em;
  border-width: 1px;
  border-style: solid;
}

.path-admin .views-admin #edit-display-settings-top .dropbutton-wrapper .dropbutton li{
  display:none;
}

.path-admin .views-admin #edit-display-settings-top .dropbutton-wrapper .dropbutton li:nth-child(1){
 display: block; 
}

.path-admin .views-admin #edit-display-settings-top .dropbutton-wrapper .dropbutton:hover li{
  display:block;
}

.path-admin .views-admin #edit-display-settings-top {
  height:3.1em;
}

.path-admin #edit-displays-settings-settings-content-tab-content-details-columns-first .views-ui-display-tab-bucket .dropdown [data-dropdown-target="#views-add-filter"]{
  height:100%;
}
#edit-display-settings-details .btn-group [type="submit"]{
  height:100%;
  background-position: .7em 1em;
}

#edit-display-settings-details .btn-group .dropdown-menu li a{
  display: inline-block;
  text-indent: 0;
  width:100%;
  height:initial;
  border-radius: 0;
  box-shadow: none;
  border-left:0;
  border-right:0;
  border-top:0;
}

#edit-display-settings-details .btn-group .dropdown-menu li a:last-child{
  border-bottom: 0;
}
#edit-page-style .panel-body .form-item:nth-child(3) {margin-top: 2em}
#edit-displays #views-display-top #views-display-menu-tabs .add { display:none; }

.body--glazed-nav-desktop.toolbar-fixed.toolbar-horizontal .region.region-content{top:0!important}
.path-frontpage .region.region-content .tabs .glazed-mini-tabs-wrapper .tabs--primary{margin:0!important;}
.path-frontpage .region.region-content .tabs .glazed-mini-tabs-wrapper {margin:0!important;}

#views-exposed-form-user-admin-people-page-1 .form-item-user .control-label { display:block; }

#views-exposed-form-block-content-page-1 .form-item-info .control-label { display:block; }

#editor-settings-wrapper .ckeditor-toolbar-available #ckeditor-available-buttons .ckeditor-button a{
  width:2em !important;
  height:2em !important;
}

#editor-settings-wrapper .ckeditor-toolbar a{ 
  min-width:1.5em;
}
