.page-node-type-article .main-container .content .img-responsive { 
    float: right;
    padding:0em 2em 2em 0em;
}
.page-node-type-article .main-container .content .field--name-field-second-level-title {
    text-align: center; 
    font-size: 1.4em; 
    padding: 0.5em;
} 
.page-node-type-article .main-container .content .field--name-body{
  margin-bottom:2em;  
}
.page-node-type-article .main-container .submitted {
  text-align: right;
}
