.view-contact-block .hosting-attachment-view {
  font-size:2em;
  margin:auto;
  text-align: center; 
  padding:1em;
}
.view-contact-block .hosting-attachment-view:after {white-space: pre;display: block;content:' ';border-bottom: solid;width:5em;height:0.5em;margin:auto;}
.view-contact-block .hosting-attachment-view a span { text-decoration: none !important; }
.view-contact-block h2{ display: none; }
.view-contact-block .hosting-attachment-view h2{ display: block; }

@media screen and (max-width:680px){
    .view-contact-block #edit-contact-form{
        float: none !important;
        width:100% !important;
        margin-bottom:0em !important;
    }
    .view-contact-block #edit-container{
        float: none !important; 
        width:100% !important;
    }
    
    .view-contact-block .webform-submit-button{ width:50% !important; }

      .view-contact-block .webform-submission-form {display: flex; 
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;
      }
      .view-contact-block .webform-submission-form #edit-contact{order:1;}
      .view-contact-block .webform-submission-form #edit-container {order:2;}
      .view-contact-block .webform-submission-form #edit-container-01 {order:3;}
      .view-contact-block .webform-submission-form #edit-actions{order:5;}
      .view-contact-block .webform-submission-form #captcha{order:4;}
      
  }

.view-contact-block .webform-element-text-area{
    border: none;
    text-align: center;
}

.view-contact-block .webform-element-text-field{
    border: none !important; 
}

.view-contact-block .webform-wrapper-text-field{ 
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-bottom-style: solid!important;
    margin-bottom:2em;
}



.view-contact-block .webform-submit-button{
    margin:2em 0em 2em 2em !important;
    padding:1em;
    min-width: 8em;
    width:15%;
    float: right;
    border-width:1px;
    border: groove;
    border-radius:0;
}
