.path-frontpage .view-opinions .jcarousel-wrapper .contextual ul{
    width:initial!important;
    overflow: initial!important;
    height:initial!important;
    position: static!important;
    right:initial!important;
    margin-right:initial!important;
    height:initial!important;
    float: none!important;
    clear: both!important;
  }
.path-frontpage .view-opinions .jcarousel-wrapper .contextual ul li{
    width:initial!important;
    overflow: initial!important;
    height:initial!important;
    position: static!important;
    right:initial!important;
    margin-right:initial!important;
    height:initial!important;
    float: none!important;
    clear: both!important;
  }
  .path-frontpage .view-certificates .jcarousel-wrapper .contextual ul{
    width:initial!important;
    overflow: initial!important;
    height:initial!important;
    position: static!important;
    right:initial!important;
    margin-right:initial!important;
    height:initial!important;
    float: none!important;
    clear: both!important;
  }
.path-frontpage .view-certificates .jcarousel-wrapper .contextual ul li{
    width:initial!important;
    overflow: initial!important;
    height:initial!important;
    position: static!important;
    right:initial!important;
    margin-right:initial!important;
    height:initial!important;
    float: none!important;
    clear: both!important;
  }
  .path-frontpage .view-trust .jcarousel-wrapper .contextual ul{
    width:initial!important;
    overflow: initial!important;
    height:initial!important;
    position: static!important;
    right:initial!important;
    margin-right:initial!important;
    height:initial!important;
    float: none!important;
    clear: both!important;
  }
.path-frontpage .view-trust .jcarousel-wrapper .contextual ul li{
    width:initial!important;
    overflow: initial!important;
    height:initial!important;
    position: static!important;
    right:initial!important;
    margin-right:initial!important;
    height:initial!important;
    float: none!important;
    clear: both!important;
  }