/*.body--glazed-nav-desktop .navbar.affix-top .block-system-menu-blockmain .menu .dropdown > .dropdown-menu {margin-top:55px!important;}
.body--glazed-nav-desktop .navbar.affix .block-system-menu-blockmain .menu .dropdown > .dropdown-menu {margin-top:30px!important;}*/

.body--glazed-nav-mobile .main-navigation-block { 
    -webkit-box-ordinal-group: 3; 
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3; 
    float: none !important;
}
.body--glazed-nav-mobile .main-navigation-block .menu.navbar-nav { 
    height: auto !important; 
    /*position: static !important; */
}
/*
@media screen and (max-width:768px){
	.body--glazed-nav-mobile .glazed-main-menu.menu--open .menu__breadcrumbs { 
        top: 16em !important;  
        left: -2em !important;  
	}

	.body--glazed-nav-mobile.user-logged-in .glazed-main-menu.menu--open .menu__breadcrumbs {
  		top: 19.5em !important;
	}
}

@media screen and (min-width:769px){
	.body--glazed-nav-mobile .glazed-main-menu.menu--open .menu__breadcrumbs { 
        top: 14em !important;
        left: -2em !important;
    }

	.body--glazed-nav-mobile.user-logged-in .glazed-main-menu.menu--open .menu__breadcrumbs {
  		top: 19.5em !important;
	}	
}*/

.toolbar-tray-open.body--glazed-nav-mobile.toolbar-vertical #navbar {width:calc(100% - 240px);}
@media screen and (min-width:481px) and (max-width:609px){
  .toolbar-tray-open.body--glazed-nav-mobile.toolbar-vertical #navbar {margin-left:240px;}
}
@media screen and (max-width:480px){
  .toolbar-tray-open.body--glazed-nav-mobile.toolbar-vertical #navbar {width:100%!important;margin-left:0px;}
}

.toolbar-tray-open.body--glazed-nav-mobile.toolbar-vertical #glazed-main-menu.menu--open {margin-left:240px;}

.body--glazed-nav-mobile .glazed-header--side #glazed-main-menu {padding-top:60px!important;}
#toolbar-administration + .dialog-off-canvas-main-canvas .glazed-header--side #glazed-main-menu {padding-top:99px!important;}
.toolbar-tray-open.toolbar-horizontal #toolbar-administration + .dialog-off-canvas-main-canvas .glazed-header--side #glazed-main-menu{padding-top:139px!important;}

#glazed-main-menu .menu__breadcrumbs{z-index: 9999;}
.body--glazed-nav-mobile .glazed-header--side .menu__breadcrumbs{position: absolute!important;}
.toolbar-tray-open.body--glazed-nav-mobile.toolbar-vertical #glazed-main-menu .menu__breadcrumbs{padding-left:240px!important;}
.toolbar-tray-open.body--glazed-nav-mobile.toolbar-horizontal #glazed-main-menu .menu__breadcrumbs{top:220px!important;}

.body--glazed-nav-mobile #glazed-main-menu.glazed-main-menu .menu__breadcrumbs{top:145px!important;margin-left:-.5em!important;padding:0;}
.body--glazed-nav-mobile.user-logged-in #glazed-main-menu.glazed-main-menu .menu__breadcrumbs{top:160px!important;margin-left:-.5em!important;padding:0;}
.body--glazed-nav-mobile.user-logged-in #glazed-main-menu.glazed-main-menu .menu__breadcrumbs { margin-top: 110px !important;}

#toolbar-administration + .dialog-off-canvas-main-canvas #glazed-main-menu.glazed-main-menu .menu__breadcrumbs {top:105px!important;margin-left:-.5em!important;padding:0;}
.toolbar-tray-open.toolbar-horizontal #toolbar-administration + .dialog-off-canvas-main-canvas #glazed-main-menu.glazed-main-menu .menu__breadcrumbs {top:145px!important;margin-left:-.5em!important;padding:0;}

.body--glazed-nav-mobile .glazed-header--side .glazed-main-menu{padding:0!important;width:360px;height:100%!important;}
.body--glazed-nav-mobile .glazed-header--side .glazed-main-menu .menu__breadcrumbs{width:360px;}
.body--glazed-nav-mobile .glazed-header--side .menu__level{width:360px;position:fixed;top:0px!important;}

.body--glazed-nav-mobile .glazed-header--side #block-robco-main-menu{position: relative; top:50px;}
.body--glazed-nav-mobile .glazed-header--side #block-robco-main-menu ul{position: absolute; top:0!important;height: 90% !important;}
.body--glazed-nav-mobile .glazed-header--side #block-robco-main-menu ul li {position: static; top:0!important;}

.body--glazed-nav-mobile .glazed-header--side #block-robco-main-menu{height: 80%!important;}
.body--glazed-nav-mobile .glazed-header--side #block-robco-main-menu .menu__level{margin-top:7.5px;}

/*
.toolbar-tray-open.body--glazed-nav-mobile.toolbar-vertical #navbar {width:calc(100% - 240px);}

.toolbar-tray-open.body--glazed-nav-mobile.toolbar-vertical #glazed-main-menu.menu--open {margin-left:240px;}

.body--glazed-nav-mobile .glazed-header--side #glazed-main-menu {padding-top:60px!important;}
.toolbar-tray-open.body--glazed-nav-mobile.toolbar-horizontal .glazed-header--side #glazed-main-menu {padding-top:160px!important;}
#toolbar-administration + .dialog-off-canvas-main-canvas .glazed-header--side #glazed-main-menu {padding-top:99px!important;}

.toolbar-tray-open.body--glazed-nav-mobile.toolbar-vertical #glazed-main-menu .menu__breadcrumbs{padding-left:240px}
.toolbar-tray-open.body--glazed-nav-mobile.toolbar-horizontal #glazed-main-menu .menu__breadcrumbs{top:220px!important;}

.body--glazed-nav-mobile #glazed-main-menu.glazed-main-menu .menu__breadcrumbs{top:200px!important;margin-left:-1em!important;}
.body--glazed-nav-mobile.user-logged-in #glazed-main-menu.glazed-main-menu .menu__breadcrumbs{top:170px!important;margin-left:-1em!important;}
.body--glazed-nav-mobile.user-logged-in #glazed-main-menu.glazed-main-menu .menu__breadcrumbs { margin-top: 120px !important;}

#toolbar-administration + .dialog-off-canvas-main-canvas #glazed-main-menu.glazed-main-menu .menu__breadcrumbs {top:160px!important;margin-left:-1em!important;}

.glazed-header--side .glazed-main-menu{padding:0!important;}
*/

.body--glazed-nav-mobile .main-navigation-block { 
    position: relative; 
    top:1em; 
}

.body--glazed-nav-desktop .main-navigation-block { 
    -webkit-box-ordinal-group: 1; 
    -moz-box-ordinal-group: 1; 
    box-ordinal-group: 1; 
    float: none; 
    /*margin-left:6em; */
}

.body--glazed-nav-desktop .main-navigation-block .menu.nav.navbar-nav { height: 80px !important; }
/*.body--glazed-nav-desktop .main-navigation-block { margin-right:20%; }*/
 
.body--glazed-nav-desktop #navbar { z-index:4050 !important; }
.body--glazed-nav-desktop .block-system-menu-blockmain ul { 
    -webkit-box-shadow: none !important; 
    box-shadow: none !important; 
}

.body--glazed-nav-desktop .block-system-menu-blockmain ul li ul li ul { 
    display: flex !important; 
    padding: initial; 
}
.body--glazed-nav-desktop .block-system-menu-blockmain ul li ul li ul li ul { display: block !important; }
.body--glazed-nav-desktop .block-system-menu-blockmain ul li ul li  { width:25% !important; }
.body--glazed-nav-desktop #dim-overlay{
	  position: fixed !important;
	  top:-100vh;
	  left:-100vh;
	  width:200vw;
	  height:200vh;
	  display: none;
	  z-index:500;
	  content:' ';
}

/*.body--glazed-nav-desktop .block-system-menu-blockmain .menu .mega > .dropdown-menu { 
    margin-top: 50px !important;
}*/

.body--glazed-nav-desktop .block-system-menu-blockmain .menu .mega > .dropdown-menu .dropdown-menu { 
    position: static;
	flex-direction: column;
}

.body--glazed-nav-desktop .block-system-menu-blockmain .menu .dropdown  > .dropdown-menu {
	padding:3em;
}

.body--glazed-nav-mobile #glazed-main-menu .main-navigation-block{
  max-height: calc(100vh - 13.5em);
  overflow-y: auto;
  overflow-x: hidden;
}

.body--glazed-nav-desktop .menu .menu-level-1 { min-width: initial !important; }

.navbar-container{ 
    transition: all 1s; 
}

#navbar { 
    position: fixed !important; 
    width:100%; 
    height:80px !important; 
    margin:auto;
}

.glazed-main-menu .nav > li > a { 
    padding: 10px 25px !important; 
}

#navbar .wrap-branding { 
    height:80px; 
}

.body--glazed-nav-mobile #navbar { height:60px !important; }
.body--glazed-nav-mobile .body--glazed-nav-mobile .glazed-header #logo { padding-bottom: 10px; }
.body--glazed-nav-mobile .glazed-header #glazed-menu-toggle { padding: 2px 32px 16px 0px; }
.body--glazed-nav-mobile .glazed-main-menu a:hover { padding-left:15px !important; }
    
.body--glazed-nav-mobile .glazed-main-menu a, 
.body--glazed-nav-mobile .glazed-main-menu a:visited, 
.body--glazed-nav-mobile .glazed-main-menu a:link { padding-left:15px !important; }

.body--glazed-nav-mobile #glazed-menu-toggle { 
    height:80px !important; 
    margin:0 !important; 
}
	
.body--glazed-nav-mobile #glazed-menu-toggle span,
.body--glazed-nav-mobile #glazed-menu-toggle span:before,
.body--glazed-nav-mobile #glazed-menu-toggle span:after{ 
    content:" ";  
    margin-top:75%; 
}
	
.body--glazed-nav-mobile #logo { vertical-align: middle !important;  }
.body--glazed-nav-mobile #navbar .navbar-toggle--active span,
.body--glazed-nav-mobile #navbar .navbar-toggle--active:hover span { 
    margin-top:0 !important; 
}
	
.body--glazed-nav-mobile #navbar .wrap-branding { height:80px !important; }
	
.body--glazed-nav-mobile #glazed-main-menu .region-navigation-collapsible { 
    display: -webkit-box; 
    display: -moz-box; 
    display: box;
    -webkit-box-orient: vertical; 
    -moz-box-orient: vertical; 
    box-orient: vertical;
}
/*
.body--glazed-nav-mobile #glazed-main-menu { 
    padding-left:0; 
    padding-right:0;
    overflow-y: hidden; 
}
    
.body--glazed-nav-mobile .region.region-navigation-collapsible { margin-top:2em !important; }
.body--glazed-nav-mobile.user-logged-in .region.region-navigation-collapsible {
    margin-top: 4em !important;
}*/
.body--glazed-nav-mobile .wrap-branding { 
    position: fixed; 
    z-index: 5555; 
    top:0px; 
}




.body--glazed-nav-desktop .glazed-main-menu .region-navigation-collapsible { 
		display: -webkit-box; 
        display: -moz-box; 
        display: box;
        -webkit-box-orient: horizontal; 
        -moz-box-orient: horizontal; 
        box-orient: horizontal; 
}

.body--glazed-nav-desktop #navbar .dropdown-language-block .dropdown-menu a { 
    height:2em !important;  
}

.body--glazed-nav-desktop #navbar .dropdown-menu a[data-drupal-link-system-path^="node"] { 
    margin-left: .65em;
}

.user-logged-in .affix { top:initial !important; }
.user-logged-in #toolbar-bar{ position:fixed; top: 0; z-index: 5050;}


.html--glazed-sticky-footer .body--glazed-nav-mobile .glazed-header--top,
.body--glazed-nav-mobile #navbar .container .container-row .container-col,
.body--glazed-nav-mobile .glazed-header--top .glazed-main-men,
.body--glazed-nav-mobile #navbar .container .container-row .navbar-header,
.body--glazed-nav-mobile #navbar .container .container-row .navbar-header .wrap-branding{ height:60px!important;} 

.body--glazed-nav-desktop #navbar .container .container-row .navbar-header .wrap-branding,
.body--glazed-nav-desktop #navbar .container .container-row .navbar-header,
.body--glazed-nav-desktop .glazed-header--top .glazed-main-menu,
.body--glazed-nav-desktop #navbar .container .container-row .container-col,
.html--glazed-sticky-footer .body--glazed-nav-desktop .glazed-header--top{height: 80px!important;}

.body--glazed-nav-desktop #navbar .container .container-row .navbar-header .wrap-branding,
.body--glazed-nav-mobile #navbar .container .container-row .navbar-header .wrap-branding{ position:absolute; }

#navbar .navbar-container .container-row .navbar-header .region-navigation .wrap-branding {display: table;}
#navbar .navbar-container .container-row .navbar-header .region-navigation .wrap-branding #logo {display: table-cell; vertical-align: middle;}

.body--glazed-nav-desktop .glazed-header--top .nav > li {display: block;}
.body--glazed-nav-desktop .glazed-header--top .nav > li > a {display: table;height: 100%!important;}
.body--glazed-nav-desktop .glazed-header--top .nav > li > a > span{display: table-cell;vertical-align: middle;}
.body--glazed-nav-desktop .glazed-header--top .nav > li > a:after{display: table-cell;vertical-align: middle;}


