.path-trust .wrap-containers{ margin:2em 0em; }
@media screen and (max-width:768px){
  .path-trust .views-col{ width:100% !important; }    
}
@media screen and (min-width:769px) and (max-width:1200px){
  .path-trust .views-col{ width:50% !important; }    
}
