.path-user .content-top-container{margin-top:100px;}
.path-user .region.region-content .tabs ul a {
    margin: 1em 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-style: solid;
    border-left-width: 3px;
    border-right: none;
    border-top: none;
}


.path-user .region.region-content .tabs ul a:focus{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-style: solid;
    border-left-width:3px;
    
}

.path-user .region.region-content .tabs .glazed-mini-tabs-wrapper .tabs--primary li a{ 
    padding:1em!important;
}
.path-user .region.region-content .tabs .tabs--secondary li a{ 
    padding:1em!important;
}

.path-user .region.region-content .user-login-form .form-actions .btn{
    margin: 1em;
}
.path-user .glazed-mini-tabs-wrapper .tabs--primary{
    box-shadow:none;
}
